@media (max-width: 1220px){
header{
  .counting{
    p{
      padding: 20px;
    }
  }
  .subscription{
    .form{
      width: 540px;
      text-align: center;
      margin-bottom: 46px;
      h1{
        font-size: 60px;
      }
      h2{
        text-align: center;
        font-size: 24px;
      }
      p{
        text-align: center;
        font-size: 24px;
      }
      form{
        input{
          margin: 12px 0;
          height: 46px;
          font-size: 20px;
        }
        input[type="email"]{
          margin-left: 0;
        }
        button{
          margin-left: 0;
          height: 46px;
          font-size: 20px;
        }
        .container{
          text-align: left;
          margin-left: 100px;
          font-size: 26px;
        }
      }
    }
    .block-circle{
      .circle{
        right: 0;
      }
    }
  }
}
  .content{
    .reviews{
      height: 536px;
      .stars{
        img{
          width: 200px;
          height: 28px;
        }
      }
      .testimonial{
        img{
          width: 700px;
          height: 410px;
        }
      }
    }
  }
  footer{
    .map{
      background-position: center;
      height: 540px;
    }
  }
}

@media(max-width: 991px){
header{
  .subscription{
    .logo{
      text-align: center;
      margin-top: 42px;
    }
    .form{
      margin: 0 auto;
      margin-top: 22%;
    }
  }
}
  .content{
    .advantages{
      ul{
        margin-left: 30px;
        padding: 54px 66px 48px 90px;
      }
      .sport-img{
        text-align: center;
        img{
          margin-top: 62px;
          margin-left: 0;
        }
      }
    }
    .types-of-training{
      height: auto;
      .slide{
        img{
          margin: 0 auto;
        }
      }
      .list{
        text-align: center;
        margin:0;
        margin-top:30px;
        h2{
          text-align: center;
        }
      }
      .owl-carousel{
        .owl-dots{
          margin-left: 304px;
          top: auto;
          .owl-dot{
            display: inline-block;
            span{
              margin: 20px 6px;
            }
          }
        }
      }
    }
    .about-us{
      padding-top: 86px;
      img{
        width: 200px;
        height: 270px;
      }
      p{
        padding: 0 20px;
      }
    }
    .specialists{
      padding-bottom: 72px;
      .header{
        margin-bottom: 72px;
      }
      img{
        width: 200px;
        height: 270px;
        object-fit: cover;
      }
      .name{
        margin-top: 20px;
      }
    }
    .reviews{
      padding-top: 30px;
      height: 360px;
      .stars{
        margin-bottom: 30px;
      }
      .testimonial{
        img{
          width: 582px;
          height: 340px;
        }
      }
    }
  }
  footer{
    .map{
      height: 380px;
    }
    .reminder{
      p{
        font-size: 34px;
      }
    }
  }
}

@media(max-width: 767px){
  h2{
    font-size: 20px;
  }
header{
  .counting{
    p{
      font-size: 23px;
    }
  }
  .subscription{
    height: auto;
    background-position: 48%;
    .logo{
      margin-top: 17px;
      text-align: center;
      margin-bottom: 102px;
      img{
        width: 300px;
        height: 120px;
      }
    }
    .form{
      margin: 0 auto;
      width: 301px;
      margin-bottom: -64px;
      h2{
        font-size: 19px;
        font-family: $FuturaL;
        margin-left: 0;
        line-height: 14px;
        opacity: 1;
      }
      h1{
        font-family: $FuturaB;
        font-size: 33px;
        font-weight: 700;
        margin-top: 10px;
        margin-left: 0;
        margin-bottom: 8px;
      }
      p{
        font-size: 19px;
        font-family: $FuturaL;
        line-height:22px;
      }
      form{
        margin-top: 26px;
        input{
          width: 301px;
          height: 50px;
          margin: 7px 0;
          &::-webkit-input-placeholder{
            color:  #000;
          }
          &::-moz-placeholder{
            color: #000;
          }
          &:-moz-placeholder{
            color: #000;
          }
          &:-ms-input-placeholder{
            color: #000;
          }
        }
        button{
          margin-top: 32px;
          width: 301px;
          height: 50px;
        }
        .container{
          margin-left: 0;
          color: transparent;
          margin-top: 14px;
        }
        .checkmark{
          background-color: #fff;
          border: 1px solid black;
        }
      }
    }
    .block-circle{
      display: none;
    }
  }
}
.content{
  .advantages{
    h2{
      font-size: 17px;
      margin-top: 20px;
    }
    ul{
      padding: 40px;
    }
  }
  .owl-carousel{
    .owl-dots{
      display: none;
    }
  }
  .about-us{
    padding: 60px 0 40px;
    .header{
      margin-bottom: 20px;
    }
  }
  .specialists{
    padding:30px 0;
    .header{
      margin-bottom: 30px;
      p{
        padding: 10px 0;
      }
    }
    p{
      margin-bottom: 20px;
      padding: 0 20px;
    }
  }
  .reviews{
    display: none;
  }
}
footer{
.reminder{
  p{
    font-size: 26px;
  }
}
}
}

@media (max-width: 479px){
header{
  .subscription{
    .logo{
      img{
        width: 70%;
        height: 70%;
      }
    }
    .form{
      h2{
        font-size: 16px;
      }
    }
  }
}
  .content{
    .advantages{
      text-align: left;
      h2{
        display: none;
      }
      .xs{
        margin-top: 26px;
        display: block;
        font-family: $RobotoB;
        color:  #000;
        font-size: 17px;
        text-align: left;
        line-height: 22px;
        margin-left: 10px;
      }
      .line{
        display: none;
      }
      ul{
        border:none;
        padding: 0;
        margin: 0;
        margin-top: 34px;
        li{
          list-style-type: none;
          margin-left: 10px;
        }
      }
      .sport-img{
        text-align: center;
        img{
          margin: 0;
          width: 302px;
          height: 275px;
        }
      }
    }
    .types-of-training{
      height: auto;
      text-align: center;
      img{
        width: 302px;
        height: 275px;
        margin: 0 auto;
      }
      .list{
        ul{
          li{
            font-size: 16px;
          }
        }
        h2{
          font-family: $RobotoB;
          color: #000;
          font-size: 18px;
          line-height: 30px;
        }
      }
    }
    .about-us{
      padding-top: 76px;
      padding-bottom: 36px;
      .header{
        margin-bottom: 10px;
        h2{
          line-height: 26px;
          font-family: $RobotoB;
          color: #000;
          font-size: 18px;
        }
      }
      p{
        margin-bottom: 30px;
        font-size: 16px;
        height: 100px;
        padding: 0 12px;
      }
      h3{
        line-height: 40px;
      }
    }
    .specialists{
      padding: 36px 0;
      .header{
        margin-bottom: 54px;
        h2{
          font-family: $RobotoB;
          color: #000;
          font-size: 18px;
        }
        .line{
          display: none;
        }
      }
      .name{
        margin-top: 10px;
      }
      p{
        margin-bottom: 20px;
        padding: 0 12px;
      }
    }

  }
  footer{
    .map{
      height: 320px;
    }
    .reminder{
      p{
        font-size: 24px;
      }
    }
  }
}