html{
    overflow-x: hidden;
    background: #FFFFFF;
}

*, :after, :before, :hover {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
*{
    outline:none;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all .4s ease;
    transition: all .4s ease;
}

a{
    text-decoration: none;
}

button{
    cursor: pointer;
}


/*   --------   */

body {
    font-family: 'RobotoConRegular';
    font-size: 18px;
    line-height: 30px;
    min-width: 320px;
    position: relative;
    background: rgb(255, 255, 255);
    max-width: 1920px;
    margin: auto;
    color: #000000;
    overflow-x: hidden;}

header, section, footer {
    margin: auto; }

section{
    width: 100%;
    max-width: 1920px;
    margin: auto;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: row wrap;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    -webkit-align-content: flex-start;
    -ms-flex-line-pack: start;
    align-content: flex-start;
}

h1{
    font-family: 'BebasNeueBold';
    font-size: 99px;
    text-transform: uppercase;
    color: #FFFFFF;
    line-height: 99px;
}

h2{
    font-family: 'BebasNeueBold';
    font-size: 60px;
    text-transform: uppercase;
    color: #FFFFFF;
    line-height: 84px;
}

h3{
    font-family: 'RobotoConBold';
    color:  #2a3242;
    font-size: 48px;
    text-transform: uppercase;
    line-height: 60px;
    text-align: left;
    transform: scaleY(1.0002);
    display: inline-block;
    letter-spacing: 1.4px;
}

h3.red{
    color: #ec1336;
}

h6{
    font-family: 'RobotoConRegular';
    color:  #fc0045;
    font-size: 14px;
    line-height: 60px;
    display: inline-block;
    text-transform: uppercase;
    background: url("../img/red-border1.png");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: 0px;
    margin-left: 32px;
    vertical-align: 12px;
    padding: 0px 15px;
}

h5{
    font-family: 'RobotoConBold';
    color:  #2a3242;
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    line-height: 19px;
}

h4{
    font-family: 'PhilosopherItalic';
    color:  #ec1336;
    font-size: 24px;
}

.more{
    font-family: 'PTSansBold';
    color:  #fc0045;
    font-size: 14px;
    border-radius: 3px;
    background-color:  #ffffff;
    text-transform: uppercase;
    padding: 5px 34px 5px 42px;
    position: absolute;
    bottom: 24px;
    letter-spacing: 1.8px;
}

.more:hover{
    background-color:  #eb1437;
    color: #FFFFFF;
}

.all{
    font-family: 'RobotoConBold';
    color:  #ffffff;
    font-size: 14px;
    text-transform: uppercase;
    border-radius: 3px;
    background-color:  #fc0045;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.2);
    letter-spacing: 1px;
}

.btn-default{
    font-family: 'RobotoConRegular';
    color:  #ffffff;
    font-size: 24px;
    text-transform: uppercase;
    background: -webkit-linear-gradient(90deg, #eb1437 0%, #f71b3f 93%);
    background: -moz-linear-gradient(90deg, #eb1437 0%, #f71b3f 93%);
    background: -o-linear-gradient(90deg, #eb1437 0%, #f71b3f 93%);
    background: -ms-linear-gradient(90deg, #eb1437 0%, #f71b3f 93%);
    background: linear-gradient(0deg, #eb1437 0%, #f71b3f 93%);

    padding: 25px 70px;
    letter-spacing: 1px;
}

.red{
    color:  #fc0045;
}

header .top-panel{
    padding-top: 8px;
    padding-bottom: 7px;
}

.logo{
    display: inline-block;
    margin-top: 4px;
    vertical-align: top;
    padding-right: 50px;
    padding-left: 2px;
}

.top-menu{
    display: inline-block;
    vertical-align: top;
    padding-top: 23px;
    position: relative;
}

.top-menu li{
    display: inline-block;
    padding-right: 45px;
    position: relative;
}

.top-menu li:last-child{
    padding-right: 0;
}

.top-menu li a{
    font-family: 'RobotoConRegular';
    color:  #000000;
    font-size: 18px;
    transform: scaleX(1.0003);
    position: relative;
    cursor: pointer;
}

.top-menu li.active a:after{
    position: absolute;
    content: '';
    bottom: -15px;
    left: 0;
    width: 100%;
    height: 1px;
    background: #fb0045;
}

.top-menu li a:active:after{
    position: absolute;
    content: '';
    bottom: -15px;
    left: 0;
    width: 100%;
    height: 1px;
    background: #fb0045;
}

.top-menu li:hover a:after{
    position: absolute;
    content: '';
    bottom: -15px;
    left: 0;
    width: 100%;
    height: 1px;
    background: #fb0045;
}

.open-menu li:hover a:after{
    display: none;
}

.welcome{
    background-image: url("../img/bg-header.png");
    background-size: cover;
    background-color: rgba(250, 250, 250);
    background-position: 83% 54%;
    min-height: 787px;
}

.welcome .welcome-content{
    margin-left: -33px;
    padding-top: 139px;
}

.welcome .welcome-content p{
    font-family: 'RobotoConRegular';
    color:  #fefeff;
    font-size: 30px;
    line-height: 36px;
    padding-top: 34px;
    margin-right: -20px;
    padding-bottom: 74px;
}

.welcome .welcome-content p bold{
    line-height: 37px;
    font-family: 'RobotoConBold';
}

.changes{
    background: rgb(250, 250, 250);
    padding-top: 64px;
    padding-bottom: 100px;
}

.changes-header{
    padding-bottom: 14px;
}

.changes-content{
    margin-left: -30px;
    margin-right: -8px;
}

.changes .item{
    padding: 36px 10px 24px 30px;
    height: 357px;
}

.changes .item:hover{
    background-color:  #ffffff;
    box-shadow: 0px 10px 25px 0px rgba(0, 0, 0, 0.2);
}

.changes .item:hover .more{
    background-color:  #eb1437;
    color: #FFFFFF;
}


.changes-content .item p{
    padding-top: 19px;
    line-height: 21px;
}

.about{
    background: rgb(42, 50, 66);
    padding-top: 86px;
    padding-bottom: 88px;
}

.about h3.red{
    display: inline-block;
}

.about .logo{
    padding-right: 0;
    margin-top: 0;
    float: right;
}

.about .text{
    padding-top: 18px;
}

.about p{
    color: #FFFFFF;
    line-height: 21px;
    padding-right: 244px;
    padding-bottom: 12px;
    padding-left: 2px;
}

.about p:last-child{
    padding-top: 11px;
}

.articles{
    background: rgb(250, 250, 250);
    padding: 88px 0 90px;
}

.articles h6{
    padding: 0 14px;
    margin-left: 26px;
    background-size: 122px 29px;
}

.articles .all{
    float: right;
    padding: 7px 21px 6px;
    margin-right: 2px;
    margin-top: 5px;
}

.articles-header{
    padding-bottom: 33px;
}

.articles-content .item{
    overflow: hidden;
}

.articles-content .item img{
    height: 497px;
    object-fit: cover;
}

.articles-content .left{
    width: 61%;
    padding-right: 9px;
}

.articles-content .left img{
    object-position: 0;
    width: 100%;
}

.articles-content .right{
    width: 39%;
}

.articles-content .right img{
    width: 128%;
    object-position: 0 55%;
    margin-left: -42px;
}

.articles-content .more{
    position: relative;
    padding-top: 11px;
    padding-bottom: 11px;
}

.articles-content .item h4{
    padding-top: 24px;
}

.articles-content .item p{
    font-size: 30px;
    line-height: 36px;
    padding-top: 12px;
    padding-bottom: 53px;
}

.video{
    background: rgb(250, 250, 250);
}

.video h6{
    margin-left: 24px;
    padding: 0 9px;
}

.video .all{
    float: right;
    padding: 7px 14px 6px;
    margin-right: 2px;
    margin-top: 10px;
}

.video .video-content{
    width: 100%;
    padding-top: 34px;
}

.video .video-content .item{
    height: auto;
    margin-bottom: -10px;
    width: 33.33333333%;
}

.video .video-content .item video{
    width: 100%;
}

#playpause{
    width: 86px;
    height: 86px;
    border: none;
    position: absolute;
    top: 38%;
    left: 43%;
    color: #FFFFFF;
    font-family: 'RobotoConRegular';
    font-size: 18px;
    background: none;
}

#playpause img{
    width: 100%;
}

#playpause span{
    position: absolute;
    width: max-content;
    bottom: -45px;
    left: -26px;
    letter-spacing: 0.5px;
}

.video-content a{
    color: #FFFFFF;
}

footer{
    padding-top: 48px;
    padding-bottom: 44px;
    background: rgb(42, 50, 66);
}

footer .logo{
    padding-bottom: 2px;
}

footer h4{
    font-family: 'RobotoConBold';
    font-size: 18px;
    color:  #a4b4d6;
    line-height: 40px;
    border-bottom: 1px solid rgb(66, 76, 96);
    margin-bottom: 12px;
}

footer li{
    color:  #6c7c9e;
    font-family: 'RobotoConRegular';
    font-size: 18px;
    line-height: 30px;
}

footer li .blog-link{
    color:  #a4b4d6;
    font-family: 'RobotoConRegular';
    text-decoration: underline;
    padding-left: 4px;
}

footer li a{
    color:  #6c7c9e;
    font-family: 'RobotoConRegular';
    text-decoration: underline;
}

footer .contacts>ul{
    padding-bottom: 95px;
}

footer .bottom{
    border-top: 1px solid rgb(66, 76, 96);
    padding-top: 27px;
}

footer .bottom ul{
    padding-bottom: 14px;
}

footer .bottom ul li{
    line-height: 13px;
}

footer .bottom li a{
    font-size: 12px;
    text-decoration: underline;
}

footer .bottom p{
    color:  #6c7c9e;
    font-family: 'RobotoConRegular';
    font-size: 12px;
    line-height: 15px;
}

footer .menu{
    padding-left: 54px;
    margin-right: -25px;
    padding-top: 57px;
}

footer .menu h4{
    width: 74px;
}

footer .art{
    padding-top: 57px;
}

footer .art h4{
    width: 148px;
}

footer .soc-link{
    margin-left: 25px;
    padding-top: 57px;
    padding-left: 52px;
}

footer .soc-link a{
    color:  #6c7c9e;
    font-family: 'RobotoConRegular';
    text-decoration: underline;
}

footer .soc-link a img{
    width: 25px;
    vertical-align: middle;
    margin-right: 5px;
}

footer .soc-link ul{
    margin-top: -7px;
}

footer .soc-link ul li{
    line-height: 44px;
}

.submenu{
    display: none;
}

.menu-responsive{
    display: none;
}

.open-menu{
    display: none;
    position: absolute;
    background-color: #FFFFFF;
    width: 237px;
    top: 68px;
    left: 202px;
    padding: 9px 0 11px 33px;
    z-index: 2;
}

.open-menu li{
    border:none;
    line-height: 48px;
    padding: 0;
}

.open-menu li a:hover{
    color:  #fc0045;
}

.open-menu li:hover a:hover{
    color:  #fc0045;
}

.open-menu.open{
    display: block;
}

.top-menu .open-menu li:hover a:after{
    display: none;
}

.wealth .welcome{
    background: url("../img/wealth-bg-header.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 83% 50%;
}

.programs .welcome{
    text-align: center;
    min-height: 762px;
}

.programs h1{
    font-family: 'RobotoConBold';
}

.wealth h1{
    text-align: left;
    padding-left: 56px;
}

.wealth h1 span{
    display: block;
    text-align: right;
    padding-top: 19px;
}


.programs h2{
    font-size: 36px;
    line-height: 62px;
    font-family: 'RobotoConBold';
}

.programs .logo{
    padding-left: 11px;
    padding-right: 41px;
}

.wealth .welcome .welcome-content{
    padding: 136px 34px 0 36px;
    margin: 0 auto;
    float: none;
}

.programs .welcome .welcome-content p{
    font-family: 'RobotoConBold';
    padding-top: 19px;
    padding-left: 40px;
    padding-bottom: 42px;
}

.programs .btn-default{
    font-family: 'RobotoConBold';
    letter-spacing: 1.9px;
    border: none;
    width: 345px;
    padding: 25px 0;
    margin-left: 14px;
    margin-right: 12px;
}

.programs .btn-default.btn-left{
    background:  #2a3242;
}


.programs .item{
    background:  #ffffff;
    box-shadow: 0px 10px 25px 0px rgba(0, 0, 0, 0.2);
    height: 150px;
    margin-bottom: 18px;
    padding: 0;
}

.programs .item:hover{
    border: 1px solid #fc0045;
}

.programs .item h4{
    color:  #fc0045;
    font-size: 24px;
    font-family: 'RobotoConBold';
    text-transform: uppercase;
    letter-spacing: 0.8px;
}

.programs .item p{
    color:  #000000;
    font-size: 18px;
    font-family: 'RobotoConRegular';
    padding-top: 15px;
}

.programs .item .left{
    float: left;
    padding: 27px 0 0 55px;
    width: 777px;
}

.wealth .item:first-child .left{
    padding-top: 40px;
}

.wealth .item:last-child .left{
    padding-top: 33px;
}

.programs .item .right{
    float: right;
    width: 333px;
    height: 100%;
    background:  #2a3242;
    padding: 22px 0 0 5px;
    text-align: center;
}

.programs .item .right p{
    font-family: 'RobotoConBold';
    font-size: 16px;
    color: #FFFFFF;
    padding: 0;
}

.programs .item .right .date{
    font-size: 18px;
}

.programs .item .right .more{
    position: relative;
    bottom: auto;
    margin-top: 16px;
    border-radius: 3px;
    background:  #ffffff;
    width: 194px;
    height: 40px;
    color:  #000000;
    padding: 2px 0 0 0;
    border:none;
}

.programs .item:hover .more{
    background:  #ee1639;
    color:  #FFFFFF;
}

.programs .item .right .more:hover{
    background:  #ee1639;
    color:  #FFFFFF;
}

.programs .changes-content{
    margin: 0;
}

.programs .changes{
    padding-top: 87px;
    padding-bottom: 76px;
}

.programs .changes h6{
    padding: 0 30px;
    background-size: 100% 50%;
}

.programs .about{
    background: url("../img/wealth-bg.png");
    padding-bottom: 61px;
    background-size: 150%;
    background-position: 65% 13%;
    background-repeat: no-repeat;
}

.programs .about h3.red{
    padding-bottom: 27px;
}

.programs .about .item .left{
    padding: 20px 0 0 52px;
}

.wealth .about .item:first-child .left{
    padding-top: 34px;
}

.programs .about .item p{
    padding-bottom: 1px;
}

.programs .about .item h4 span{
    color: #000000;
    font-size: 18px;
    font-family: 'RobotoConBold';
    padding-top: 15px;
    text-transform: none;
    letter-spacing: 0;
}

.programs .about .logo{
    padding-right: 0;
}

.programs .about .item .right .more{
    background:  #ffffff;
    box-shadow: 0px 10px 25px 0px rgba(224, 22, 55, 0.9);
    width: 232px;
    color: #000000;
}

.programs .about .item .right{
    background:  #ee1639;
}

.programs footer{
    padding-top: 62px;
}

.programs footer .right{
    float: right;
    padding-top: 18px;
}

.programs footer .logo{
    padding-left: 4px;
}

.programs footer p{
    color: #FFFFFF;
}


/* Relationship */

.relationship .welcome {
    background: url("../img/relationship-bg-header.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 83% 50%;
}

.relationship h1{
    font-size: 72px;
}

.relationship h2{
    font-size: 36px;
    line-height: 45px;
    padding-left: 18px;
}

.relationship .welcome-content{
    padding-top: 243px;
    margin: 0;
}

.relationship .welcome .welcome-content p{
    padding-top: 24px;
    padding-left: 0px;
    margin: 0;
}

.relationship .btn-default{
    width: 360px;
}

.programs .item .right .more.width{
   width: 234px;
}

.relationship .item h4 .red-span{
    font-size: 18px;
    font-family: 'RobotoConRegular';
    text-transform: none;
    letter-spacing: 0;
}

.programs .item .right .date-time{
    font-size: 24px;
    padding-top: 15px;
    padding-bottom: 8px;
}

.relationship .changes h6{
    margin-left: 20px;
}

.relationship .item .left{
    padding-top: 20px;
}

.relationship .changes-content .item:first-child .left{
    padding-top: 35px;
}

.relationship .changes-content .item:last-child .left{
    padding-top: 9px;
}

.relationship .about .item .right .more{
    width: 195px;
}

.relationship .about .item .left {
    padding: 42px 0 0 52px;
}

.relationship .about .item:last-child .left {
    padding: 26px 24px 0 52px;
}

/* Fate */

.fate .welcome{
    background: url("../img/fate-bg-header.png");
    background-repeat: no-repeat;
    background-position: 83% 50%;
}

.fate .welcome .welcome-content{
    padding-top: 240px;
    margin-left: 0;
}

.fate h2{
    padding-bottom: 106px;
}

.fate h1{
    font-size: 72px;
    line-height: 82px;
}

.fate .btn-default{
    width: 360px;
}

.fate .changes{
    padding-bottom: 82px;
}

.fate .about .item .left{
    padding-top: 34px;
}

.fate .about .item .left h4{
    display: inline-block;
}

.fate .about .item .left h4 span{
    display: inline-block;
}

.fate .about .item .right .more{
    width: 194px;
}

.fate .about .item .right .more.width{
    width: 234px;
}


/* Health */

.health .welcome{
    background: url("../img/health-bg-header.png");
    background-repeat: no-repeat;
    background-position: 83% 50%;
}

.health h1{
    text-align: left;
    letter-spacing: -0.13px;
}

.health h2{
    padding-bottom: 86px;
}

.health .welcome .welcome-content{
    padding-top: 260px;
}

.health .btn-default {
    width: 390px;
    vertical-align: top;
}

.health .btn-default.btn-right{
    letter-spacing: 0.8px;
}

.health .changes .item .left p{
    padding-top: 8px;
}

.health .about{
    padding-bottom: 95px;
}


/* Blog */

/* Blog Book */

.blog .blog-content{
    background: rgb(250, 250, 250);
    padding-top: 28px;
}

.blog .blog-content .container{
    width: 1170px;
    padding: 0 16px 0 0px;
}

.blog .blog-inner{
    background: #FFFFFF;
    padding: 23px 34px 20px 31px;
    margin-right: 3px;
}

.blog .blog-aside{
    margin-left: 11px;
}

.blog .item{
    height: 100%;
}

.blog .book h6{
    padding: 0 42px;
    margin-left: 21px;
    background-size: 100% 48%;
    vertical-align: 10px;
    background-position: 0 13px;
}

.blog p{
    font-family: 'RobotoConLight';
}

.blog .bold{
    font-family: 'RobotoConBold';
}

.blog .blog-inner a{
    color:  #fc0045;
}

.blog .blog-inner .book-about p{
    padding-top: 21px;
    line-height: 21px;
}

.blog .blog-inner .book-about iframe{
    padding-top: 25px;
    width: 100%;
    padding-right: 8px;
    height: 406px;
    margin-bottom: -2px;
}

.blog .blog-inner .book-list{
    padding-top: 26px;
}

.blog .blog-inner .book-list p{
    font-size: 16px;
    line-height: 20px;
    padding-top: 17px;
    letter-spacing: -0.15px;
}

.blog .blog-inner .book-list .bold{
    font-size: 18px;
    line-height: 29px;
    font-family: 'RobotoConBold';
    padding-top: 15px;
    letter-spacing: 0;
    clear: both;
}

.blog .blog-inner .book-list .item{
    position: relative;
    background: none;
    box-shadow: none;
    padding-bottom: 17px;
}

.blog .blog-inner .book-list .item:before{
    position: absolute;
    content: '';
    top: -3px;
    left: 0;
    width: 49%;
    height: 1px;
    background: #fb0045;
}

.blog .blog-inner .book-list .item img{
    float: left;
    margin-right: 36px;
    margin-top: -2px;
}

.blog .blog-inner .comments{
    clear: both;
    padding-top: 20px;
    margin-left: -17px;
}

.blog .blog-inner .feedback{
    background: rgb(249, 249, 249);
    margin: -4px -6px 0 -10px;
    padding: 12px 118px 12px 15px;
}

.blog .blog-inner .feedback input{
    border: 1px solid rgb(221, 221, 221);
    width: 100%;
    height: 46px;
    margin-bottom: 10px;
    padding: 10px;
}

.blog .blog-inner .feedback textarea{
    border: 1px solid rgb(221, 221, 221);
    width: 100%;
    height: 186px;
    margin-bottom: 20px;
    padding: 10px;
}

.blog .blog-inner .feedback input[type="submit"]{
    background-color:  rgba(247, 27, 63, 0.97);
    border-radius: 3px;
    border:none;
    width: 308px;
    height: 42px;
    margin-top: 14px;
    margin-left: -2px;
    font-size: 12px;
    font-family: 'RobotoConBold';
    padding-top: 15px;
    letter-spacing: 1.3px;
}

.blog .blog-inner .feedback .bold{
    font-family: 'MontserratBold';
    letter-spacing: 1.3px;
    padding-bottom: 7px;
}

.blog .blog-inner .feedback p{
    font-family: 'MontserratRegular';
    font-size: 14px;
    letter-spacing: -0.5px;
    padding-bottom: 9px;
}
