
$lato: "Lato", sans-serif;

$white: #ffffff;

$text-black: #000000;

$bg-light-grey: #ebebeb;

$red-check: #cd2a1d;

$bg-button: #f79300;
$bg-button-gradient: linear-gradient(to top, rgba(0,0,0,.06) 24.5%, rgba(255,255,255,.06) 75.5%);
$border-button: 2px solid rgba(255, 255, 255, 34);
$shadow-button: 3px 4px 7px rgba(0,0,0,.13);

