*, :after, :before, :hover {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
*{
    outline:none;
    -webkit-transition: all .4s ease;
    transition: all .4s ease;
}

a{
    text-decoration: none;
}

button{
    cursor: pointer;
}

html{
    overflow-x: hidden;
    background: #FFFFFF;
}

/*   --------   */


body {
    font-family: 'ProximaNovaRegular';
    font-size: 18px;
    line-height: 26px;
    min-width: 320px;
    position: relative;
    background: #FFFFFF;
    max-width: 2000px;
    margin: auto;
    color: #666666;
    overflow-x: hidden;
}

section{
    width: 100%;
    max-width: 1440px;
    margin: auto;

    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: row wrap;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    -webkit-align-content: flex-start;
    -ms-flex-line-pack: start;
    align-content: flex-start;
}

h1{
    font-family: 'ProximaNovaRegular';
    font-size: 54px;
    line-height: 63px;
    letter-spacing: -1px;
    color: #333333;
}

h2{
    font-family: 'ProximaNovaRegular';
    font-size: 34px;
    line-height: 46px;
    letter-spacing: -0.01px;
    color: #333333;
}

h5{
    font-family: 'ProximaNovaRegular';
    font-size: 24px;
    line-height: 28px;
    color: #FFD600;
}

h6{
    font-family: 'ProximaNovaLight';
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 1px;
    color: #333333;
    text-transform: uppercase;
}

a{
    font-family: 'ProximaNovaLight';
    font-size: 14px;
    line-height: 16px;
    color: #9DAFBD;
}

.more{
    font-family: 'ProximaNovaBold';
    font-size: 14px;
    line-height: 16px;
    width: 120px;
    height: 40px;
    background: #FFD600;
    border: none;
    color: #333333;
    text-transform: capitalize;
}

.more:hover{
    background: #FFE100;
}

ul li a{
    font-family: 'ProximaNovaRegular';
    color: #9DAFBD;
    background: none;
}

ul li a:hover, ul li.active a{
    color: #333333;
}


.left-padding{
    padding-left: 72px;
}

.right-padding{
    padding-left: 101px;
}

.header-content-left{
    margin-top: 65px;
    padding-left: 72px;
}

.header-content-left .top-panel .logo{
    display: inline-block;
    width: 45px;
    vertical-align: middle;
    margin-left: 1px;
}

.header-content-left .top-panel .logo img{
    width: 100%;
}

.header-content-left .top-panel .top-menu{
    display: inline-block;
    padding-left: 44px;
    vertical-align: text-bottom;
}

.header-content-left .top-panel .top-menu li{
    display: inline-block;
    padding-right: 24px;
}

.header-content-left .title{
    padding-top: 102px;
    padding-right: 22px;
}

.header-content-left .title h1{
    padding-bottom: 52px;
}

.header-content-left .title .more{
    margin-bottom: 117px;
    padding-top: 4px;
}

.header-content-left .completed{
    background: #f9f9f9;
    padding-left: 135px;
    margin-left: -135px;
    border-top: 1px solid #e5eaed;
    padding-top: 27px;
    padding-bottom: 26px;
    position: relative;
}

.header-content-left .completed p{
    color: #666666;
}

.header-content-left .completed .link-more{
    position: relative;
    padding-top: 32px;
    padding-left: 27px;
    width: 84px;
    line-height: 16px;
}

.header-content-left .completed .arrow{
    position: absolute;
    left: 0;
    bottom: 3px;
}

.header-content-left .completed .arrow img{
    width: 14px;
}

.picture{
    position: relative;
}

.lang{
    width: 47px;
    height: 34px;
    font-size: 14px;
    color: #333333;
    font-family: 'ProximaNovaRegular';
    border: none;
    background: rgba(255, 214, 00, 0.5);
    z-index: 2;
}

.picture .lang{
    position: absolute;
    right: 136px;
    top: 66px;
}


.picture .slider{
    width: 804px;
    height: 750px;
}

.picture .owl-carousel .owl-nav{
    display: none;
}

.picture .owl-carousel .owl-dots{
    display: block;
    text-align: center;
    position: absolute;
    right: 28px;
    top: 434px;
}

.picture .owl-carousel .owl-dots .owl-dot{
    display: block;
}

.picture .owl-carousel .owl-dots .owl-dot span{
    background: #D1DBE3;
    border: 1px solid #979797;
    border-radius: 15px;
    width: 10px;
    height: 10px;
    display: block;
    position: relative;
    z-index: 2;
    margin: -36px 0 0 10px;
}

.picture .owl-carousel .owl-dots .active span{
    background: #FFD600;
}


.about-company .left-padding{
    padding-right: 44px;
    border-right: 1px solid #E9EEF2;
    padding-top: 62px;
    height: 377px;
}

.about-company .left-padding h2{
    padding-top: 6px;
    padding-bottom: 28px;
}

.about-company .right-padding{
    border-bottom: 1px solid #E9EEF2;
    padding-top: 92px;
    padding-bottom: 104px;
    padding-left: 101px;
}

.about-company .right-padding h6{
    padding-bottom: 24px;
}

.about-company .right-padding ul{
    display: inline-block;
    padding-right: 125px;
}

.about-company .right-padding ul li{
    padding-bottom: 21px;
}

.about-company .right-padding ul li a{
    font-family: 'ProximaNovaRegular';
    font-size: 18px;
    line-height: 26px;
    color: #9DAFBD;
}

.products .product .left{
    width: 636px;
    margin-left: -64px;
}

.products .product .left img{
    width: 100%;
}

.products .product .right-padding{
    padding-top: 94px;
    padding-right: 232px;
    border-bottom: 1px solid #e9eef2;
    height: 441px;
}

.products .product .right-padding h2{
    padding-bottom: 28px;
}

.products .product .right-padding .more{
    margin-top: 45px;
}

.projects{
    background: #fbfbfb;
    margin-top: -6px;
}

.projects .projects-header{
    padding-top: 83px;
    padding-left: 72px;
    padding-right: 135px;
    position: relative;
}

.projects .projects-header h2{
    float: left;
}

.projects .projects-header .more{
    float: right;
    margin-top: 4px;
    text-transform: none;
}

.projects .projects-content{
    margin-left: -64px;
    padding-top: 37px;
    padding-bottom: 96px;
    width: 1440px;
}

.projects .projects-content .all{
    display: none;
}

.projects .projects-content .item{
    width: 480px;
    height: 335px;
    display: inline-block;
    margin-right: -4px;
    margin-bottom: 1px;
    vertical-align: top;
    position: relative;
}

.projects .projects-content .item img{
    width: 100%;
    height: 335px;
}


.projects .projects-content .item .options{
    position: absolute;
    z-index: 2;
    text-align: right;
    padding-right: 43px;
    padding-top: 51px;
    width: 100%;
    height: 85%;
}

.projects .projects-content .item .options h6{
    color: #FFFFFF;
    padding-bottom: 2px;
}

.projects .projects-content .item .options .more{
    position: absolute;
    right: 0;
    bottom: -51px;
    text-transform: none;
}

.projects .projects-content .item .slider2 .slide .shape{
    background: rgba(0, 0, 0, 0.5);
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.projects .projects-content .item .slider2 .owl-dots{
    display: none;
}

.projects .projects-content .item .slider2 .owl-nav{
    display: inline-block;
    position: absolute;
    bottom: -27px;
    left: 28px;
    z-index: 3;
}

.projects .projects-content .item .slider2 .owl-nav .owl-prev{
    display: inline-block;
    color: transparent;
    width: 80px;
    height: 80px;
    margin-right: -30px;
}

.projects .projects-content .item .slider2 .owl-nav .owl-next{
    display: inline-block;
    color: transparent;
    width: 80px;
    height: 80px;
}

.projects .projects-content .item .slider2 .owl-nav .owl-next img, .projects .projects-content .item .slider2 .owl-nav .owl-prev img{
    width: 80px;
    height: 80px;
}

.team{
    border-bottom: 1px solid #ebf0f3;
}

.team .team-content{
    padding-right: 135px;
    padding-top: 86px;
    padding-bottom: 93px;
}

.team .team-content h2{
    padding-bottom: 38px;
}

.team .team-content img{
    width: 100%;
}

.blog{
    border-bottom: 1px solid #ebf0f3;
}

.blog .blog-content{
    padding-right: 134px;
    padding-top: 83px;
    padding-bottom: 40px;
    text-align: center;
}

.blog .blog-content h2{
    padding-bottom: 37px;
    text-align: left;
}

.blog .blog-content .blog-item{
    position: relative;
    text-align: left;
    width: 368px;
    height: 360px;
    border:1px solid #ECF0F4;
    display: inline-block;
    vertical-align: top;
    margin-right: 27px;
    padding: 11px 36px 10px 30px;
    margin-bottom: 34px;
    background: #FFFFFF;
}

.blog .blog-content .blog-item:hover{
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.17);
    background: #f8f8f8;
}

.blog .blog-content .blog-item:last-of-type{
    margin-right: 0;
}

.blog .blog-content .blog-item .time{
    line-height: 54px;
}

.blog .blog-content .blog-item a{
    font-family: 'ProximaNovaBold';
    position: absolute;
    bottom: 31px;
}

.blog .blog-content .blog-item a:after{
    content: '';
    background: #9DAFBD;
    position: absolute;
    height: 2px;
    width: 100%;
    right: 0;
    bottom: -4px;
}

.blog .blog-content a{
    font-family: 'ProximaNovaBold';
    position: relative;
}


.blog .blog-content a:after{
    content: '';
    background: #9DAFBD;
    position: absolute;
    height: 2px;
    width: 100%;
    right: 0;
    bottom: -3px;
}

.contact{
    background: #f9f9f9;
    padding-top: 64px;
    padding-bottom: 68px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
    border-bottom: 1px solid #ebf0f3;
}

.contact .left-padding{
    padding-top: 109px;
}

.contact .left-padding h2{
    padding-bottom: 14px;
}

.contact .left-padding h6{
    padding-top: 31px;
    padding-bottom: 14px;
}

.contact .left-padding .mail{
    line-height: 36px;
    color: #9DAFBD;
}

.contact .left-padding .link{
    margin-top: 21px;
}

.contact .left-padding .link li{
    margin-right: 5px;
    display: inline-block;
}

.contact .left-padding .link li a{
    background: #666;
    padding: 3px 6px;
    border-radius: 50%;
}

.contact .left-padding .link li .instagram:hover{
    background: #C32AA3;
}


.contact .left-padding .link li .twitter:hover{
    background: #1DA1F2;
}

.contact .left-padding .link li .facebook:hover{
    background: #3B5998;
}

.contact .left-padding .link li a i{
    font-size: 12px;
    color: #FFFFFF;
    width: 10px;
    text-align: center;
}

.contact .reverse{
    display: none;
}

.court{
    position: relative;
}

.court .position{
    position: absolute;
    background: url("../img/position-bg.png");
    background-size: 100%;
    z-index: 2;
    text-align: center;
    width: 420px;
    height: 188px;
    bottom: 30%;
    left: 15%;
    padding-top: 44px;
}

.court .position p{
    line-height: 36px;
}

#map {
    margin-top: 36px;
    width: 668px;
    height: 458px;
    margin-bottom: 33px;
}

footer{
    padding-top: 26px;
    padding-bottom: 29px;
}

footer .left-padding{
    padding-right: 134px;
    position: relative;
}

footer .footer-panel .logo {
    display: inline-block;
    width: 45px;
    vertical-align: middle;
    margin-left: 1px;
}

footer .footer-panel .logo img{
    width: 100%;
}

footer .footer-panel .footer-menu{
    display: inline-block;
    padding-left: 44px;
    vertical-align: text-bottom;
}

footer .footer-panel .footer-menu li {
    display: inline-block;
    padding-right: 24px;
}

footer .lang{
    float: right;
    margin-top: 3px;
}





/*the container must be positioned relative:*/
.custom-select {
    position: relative;
    font-family: Arial;
}
.custom-select select {
    display: none; /*hide original SELECT element:*/
}
.select-selected {
    width: 47px;
    height: 34px;
    font-size: 14px;
    color: #333333;
    font-family: 'ProximaNovaRegular';
    border: none;
    background: rgba(255, 214, 00, 0.5);
    z-index: 2;
}
/*style the arrow inside the select element:*/
.select-selected:after {
    position: absolute;
    top: 2px;
    right: 11px;
    content: url(../img/icon-down.svg);
}
/*point the arrow upwards when the select box is open (active):*/
.select-selected.select-arrow-active:after {
    top: 3px;
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
}
/*style the items (options), including the selected item:*/

.select-items div,.select-selected {
    color: #333;
    padding: 4px 9px;
    cursor: pointer;
    user-select: none;
    font-family: 'ProximaNovaRegular';
    font-size: 14px;
}
/*style items (options):*/
.select-items {
    position: absolute;
    background-color: #FFE100;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 99;
}
footer .select-items{
    top: -68px;
}
/*hide the items when the select box is closed:*/
.select-hide {
    display: none;
}
.select-items div:hover, .same-as-selected {
    background-color: rgba(0, 0, 0, 0.1);
}

.projects .projects-header h2 .our{
    display: none;
}

.team .team-content h2 .our{
    display: none;
}

footer .footer-panel .column{
    display: none;
}

.menu{
    display: none;
}



.menu-top-responsive{
    display: none;
    width: 100%;
    background: #333333;
    z-index: 1;
    position: absolute;
    height: 480px;
    text-align: left;
    padding: 46px 0 0 72px;
    border-bottom: 8px solid #ffffff;
}

.menu-top-responsive ul{
    display: inline-block;
    text-align: left;
    vertical-align: top;
    padding-right: 135px;
}

.menu-top-responsive ul:last-of-type{
    padding-right: 0;
}

.menu-top-responsive ul li{
    line-height: 59px;
}

.menu-top-responsive ul li a{
    color: #FFFFFF;
    font-family: 'ProximaNovaRegular';
    font-size: 18px;
    line-height: 26px;
}

.menu-top-responsive div{
    display: inline-block;
    text-align: left;
}

.menu-top-responsive div p{
    color: #FFD600;
    line-height: 33px;
}

.menu-top-responsive .mail{
    text-align: left;
    margin-left: 102px;
}

.menu-top-responsive .mail p{
    color: #FFFFFF;
}

.menu-top-responsive .contacts-top{
    background: #666666;
    height: 100px;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 12px 0 0 10px;
}

.header-content-left .top-panel .menu-top-responsive .logo{
    left: 18px;
    top: 12px;
}

.menu-top-responsive .close{
    top: 25px;
    right: 16px;
    position: absolute;
}

.menu-top-responsive .close img{
    width: 13px;

}




/* PAGES */

/* Versolight */

.pages h3{
    font-family: 'ProximaNovaRegular';
    font-size: 26px;
    line-height: 32px;
    color: #333333;
    padding-bottom: 8px;
}

.pages h2{
    padding-bottom: 20px;
    letter-spacing: -0.1px;
}

.pages .container{
    padding: 0 136px;
}

.pages .header-content{
    padding-top: 62px;
}

.pages .header-content-left{
    padding: 0;
    margin: 0;
}

.pages .header-content-left .top-panel .logo img{
    margin-top: 3px;
}

.pages header .right{
    text-align: right;
    padding-top: 6px;
}

.pages header .right .number{
    display: inline-block;
    vertical-align: middle;
    padding-right: 48px;
}

.pages header .right .lang{
    display: inline-block;
    text-align: left;
}


.pages-content .row{
    padding: 50px 0 43px;
}

.pages-content .about-us-content{
    padding: 43px 0 58px;
    text-align: center;
}

.pages-content .about-us-content p{
    width: 40%;
    margin: 0 auto;
}

.pages-content .install-content{
    padding: 50px 0;
}

.pages-content .image{
    position: relative;
}

.pages-content .image img, .image-left img, .image-right img{
    width: 100%;
}

.pages-content .image-left{
    padding-right: 15px;
}

.pages-content .image-right{
    padding-left: 15px;
}

.pages-content .carousel img{
    /*width="569px" heigth="355px"*/
    width: 100%;
}

.pages-content .carousel{
    position: relative;
    width: 100%;
}

.pages-content .carousel button{
    background: none;
    border: none;
    position: absolute;
    width: 77px;
    padding: 0;
    top: 148px;
}

.pages-content .carousel .prev{
    left: -8px;
}

.pages-content .carousel .next{
    right: -8px;
}

.pages-content .text-right{
    padding: 68px 42px 0 83px;
}

.pages-content .text-left{
    padding: 68px 110px 0 14px;
}

.pages-content .customer-request{
    text-align: center;
}

.pages-content .customer-request .light-gray-bg{
    margin-top: 50px;
}

.pages-content .customer-request .more{
    margin: 23px 38px 7px 0;
}

.pages-content .customer-request .light{
    margin-left: -12px;
}

.pages-content .light{
    background: #ECF0F4;
}

.base-model .base-model-content{
    padding-bottom: 50px;
}

.pages-content .base-model-content .padding{
    padding: 43px 0 46px 50px;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.5);

}

.pages-content .base-model-content p{
    border-right: 2px solid #ECF0F4;
    padding-bottom: 100px;
    padding-right: 14px;
    padding-top: 4px;
    display: inline-block;
    vertical-align: top;
}

.pages-content .base-model-content ul{
    padding-right: 61px;
}

.pages-content .base-model-content ul:last-child{
    padding-right: 0;
}

.pages-content .base-model-content ul:first-of-type{
    padding-left: 30px;
}

.pages-content .motive .motive-content{
    padding-bottom: 41px;
}

.pages-content .motive-content .text-left{
    padding: 34px 80px 0 0;
}

.pages-content .motive-content .text-left h2{
    padding-bottom: 10px;
}

.pages-content .motive-content .text-left p{
   padding-bottom: 26px;
}

.pages-content .motive-content .text-left ul:first-of-type{
    padding-left: 16px;
    padding-right: 66px;
}

.pages-content .indirect .text-left{
    padding: 53px 80px 0 0;
}

.pages-content .indirect .text-left h2{
    padding-bottom: 16px;
}

.pages-content .indirect .text-left .small{
    padding-right: 45px;
}

.pages-content .colors .text-right{
    padding-top: 90px;
}

.pages-content .shapes .text-left{
    padding: 59px 0 0 0;
}

.pages-content .shapes .text-left h2{
    padding-bottom: 15px;
}

.pages-content .shapes .text-left .small:not(:first-of-type){
    padding-right: 124px;
}

.pages section ul{
    display: inline-block;
    vertical-align: top;
}


.pages section ul li{
    font-family: 'ProximaNovaRegular';
    font-size: 14px;
    line-height: 30px;
    color: #333333;
    position: relative;
}

.pages section ul li:before{
    content: '';
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: #FFD600;
    padding-right: 0;
    font-size: 15px;
    margin-left: -17px;
    position: absolute;
    top: 12px;
    left: 2px;
}


.pages-content .small{
    font-size: 14px;
    line-height: 20px;
    color: #666666;
    font-family: 'ProximaNovaRegular';
    padding-bottom: 15px;
}

.pages-content .light-gray-bg{
    background: #f6f7f8;
}

.pages-content .panels-content .image{
    padding-right: 15px;
}

.pages-content .panels-content .right{
    margin-left: -14px;
}

.pages-content .panels-content .right img{
    width: 250px;
    height: 250px;
    display: inline-block;
    vertical-align: top;
    margin-right: -4px;
}

.pages-content .panels-content .right .images{
    margin-right: -14px;
}

.pages-content .panels-content .right .text{
    padding: 40px 8px 0 59px;
}

.pages-content .panels-content .right .text h2{
    padding-bottom: 5px;
}

.pages-content .scope .text-left{
    padding: 68px 68px 0 0;
}

.pages-content .scope .text-left p{
    padding-bottom: 11px;
}

.pages-content .contact .contact-content{
    padding-top: 49px;
    padding-bottom: 50px;
}

.pages .pages-content .contact{
    background: none;
    box-shadow: none;
    border:none;
    padding: 0;
}

.pages .pages-content .contact .left-padding{
    padding: 0;
}

.pages .pages-content .contact .adds, .pages-content .contact .schedule, .pages-content .contact h6, .pages-content .contact .mail, .pages-content .contact .link{
    display: inline-block;
    vertical-align: middle;
}

.pages .pages-content .contact .adds{
    padding-right: 93px;
    padding-left: 2px;
}

.pages .pages-content .contact .schedule{
    padding-right: 90px;
}

.pages .pages-content .contact .left-padding h6{
    padding: 5px 14px 0 0;
}

.pages .pages-content .contact .left-padding .mail{
    padding-left: 13px;
    padding-right: 8px;
    line-height: 26px;
}

.pages .pages-content .contact .left-padding .mail:last-of-type{
    border-left: 1px solid;
}

.pages .pages-content .contact .link{
    margin-top: 14px;
    margin-right: -4px;
    float: right;
}


.pages footer {
    padding-top: 27px;
    padding-bottom: 24px;
    border-top:1px solid #cfcfcf;
}

.pages footer .left-padding{
    padding: 0;
}

.pages footer .lang {
    margin-top: 4px;
    right: -2px;
}


/* News */

.news-page .blog{
    border: none;
}

.news-page .blog .blog-content{
    padding: 0;
}

.news-page .blog .blog-content .blog-item:first-of-type{
    background: #f8f8f8;
}

.news-page .pages-content .carousel img{
    height: 360px;
}

.news-page .news-content .news-about{
    margin-right: -180px;
    z-index: 3;
    position: relative;
    padding-top: 31px;
    padding-bottom: 200px;
}

.news-page .news-content{
    padding-top: 43px;
    padding-bottom: 0;
}

.news-page .news-content .news-about h3{
    color: #666666;
}

.news-page .news-content .news-about h6{
    padding-bottom: 20px;
}

.news-page .news-content .follow{
    padding-top: 133px;
    position: relative;
}

.news-page .news-content .follow h6{
    -moz-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    -webkit-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    transform: rotate(270deg);
    position: absolute;
    left: -36px;
    bottom: 42px;
}

.news-page .news-content .follow .link{
    padding-left: 71px;
}

.news-page .news-content .follow .link li{
    position: relative;
    line-height: 34px;
}

.news-page .news-content .follow .link li:before{
    display: none;
}

.news-page .news-content .follow .link li a{
    color: #9DAFBD;
    font-family: 'ProximaNovaBold';
    border-bottom: 2px solid #9DAFBD;
}

.news-page .news-content .follow .link li a i{
    font-size: 12px;
    color: #FFFFFF;
    background: #666;
    padding: 4px;
    border-radius: 26px;
    position: absolute;
    left: -32px;
    top: 8px;
}


.news-page .news-content .follow .link li .facebook i{
    padding: 4px 7px;
}

.news-page .news-content .follow .link li a:hover{
    color: #666;
    border-color: #666666;
}

.news-page .news-content .follow .link li a:hover i{
    background: #C32AA3;
}

.news-page .news-content .follow .link li .twitter:hover i{
    background: #1DA1F2;
}

.news-page .news-content .follow .link li .facebook:hover i{
    background: #3B5998;
}

.news-page .news-content .news-content-right{
    padding-left: 5px;
    position: relative;
}


.news-page .pages-content .next{
    z-index: 3;
    font-family: 'ProximaNovaRegular';
    font-size: 14px;
    text-transform: uppercase;
    color: #9DAFBD;
    letter-spacing: 1px;
    width: 100px;
    border: none;
    background: transparent;
    position: absolute;
    right: -38px;
    bottom: 72px;
}

.news-page .pages-content .next{
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
}

.news-page .pages-content .next img{
    width: 25px;
    height: 25px;
    vertical-align: middle;
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
}

.news-page .news-content .news-content-right .news-text{
    padding: 32px 188px 42px 0;
}

.news-page .news-content .news-content-right .news-text p{
    padding-top: 28px;
    line-height: 27px;
}

.news-page h3{
    text-align: left;
}

.news-page .blog-content h3{
    margin-top: -11px;
    margin-bottom: 20px;
}

.news-page .pages-content .contact .contact-content {
    padding-top: 0;
    padding-bottom: 50px;
    margin-top: -5px;
}


/* Imprint */

.imprint .imprint-content-padding{
    padding: 70px 68px 98px 68px;
}

.imprint .imprint-content-header{
    background: #f9f9f9;
    padding: 40px 0 35px 50px;
}

.imprint .imprint-content-header div{
    display: inline-block;
    vertical-align: top;
    padding-right: 85px;
}

.imprint .imprint-content-header div:last-of-type{
    padding-right: 0;
}

.imprint p{
    color: #333333;
    line-height: 32px;
}

.imprint .imprint-content-text{
    padding: 47px 45px 21px 50px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.17);
    position: relative;
}

.imprint .imprint-content-text .left-column{
    width: 38%;
    display: inline-block;
    vertical-align: top;
}

.imprint .imprint-content-text .right-column{
    width: 61%;
    display: inline-block;
    vertical-align: top;
    padding-left: 12px;
}

.imprint .imprint-content-text p{
    line-height: 26px;
}

.imprint .imprint-content-text .left-column div{
    padding-bottom: 30px;
}

.imprint .imprint-content-text .right-column p{
    padding-bottom: 26px;
}

.imprint .imprint-content-text .initiative{
    background: #ecf0f4;
    padding: 17px 0 24px 14px;
    margin-top: 94px;
}

.imprint .imprint-content-text .initiative img{
    width: 96px;
    height: 108px;
    float: left;
    margin-right: 15px;
}

.imprint .imprint-content-text .initiative p{
    padding-top: 24px;
}


.imprint .imprint-content-text .initiative a{
    font-size: 18px;
}


/* About Us */

.about-us-page .about .about-us-inner{
    text-align: center;
    padding-bottom: 100px;
    padding-top: 69px;
}

.about-us-page .about .about-us-inner .big{
    font-size: 26px;
    line-height: 46px;
    padding: 19px 0 11px;
}

.about-us-page .about .about-us-inner .about-us-experience{
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.17);
    padding: 48px 0 52px;
    text-align: left;
    margin-top: 75px;
}

.about-us-page .about .about-us-inner .about-us-experience div{
    display: inline-block;
    vertical-align: middle;
    text-align: left;
    width: 33%;
}

.about-us-page .about .about-us-inner .about-us-experience p{
    color: #9DAFBD;
    text-align: center;
}

.about-us-page .our-clients{
    background: #f9f9f9;
    border-top: 1px solid #e9eef2;
    border-bottom: 1px solid #e9eef2;
}

.about-us-page .our-clients-inner{
    padding: 0;

}

.about-us-page .our-clients-inner .left{
    padding-top: 180px;
}

.about-us-page .our-clients-inner .left h2{
    padding-bottom: 27px;
}

.about-us-page .our-clients-inner .right{
    border-left: 1px solid #e9eef2;
    padding: 90px 0 69px 64px;
    margin-left: 16px;
    margin-right: -16px;
}

.about-us-page .our-clients-inner .item-clients-img{
    position: relative;
    padding-bottom: 11px;
}

.about-us-page .our-clients-inner .first{
    width: 368px;
    height: 158px;
    position: relative;
    z-index: 1;
}

.about-us-page .our-clients-inner .second{
    width: 254px;
    height: 150px;
    position: absolute;
    top: -20px;
    right: 59px;
}

.about-us-page .our-clients-inner .pos{
    top: -10px
}



/* Form Request */


.form-request .form-request-padding{
    padding: 43px 168px 0;
    text-align: center;
}

.form-request .form-request-inner{
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.17);
    padding: 48px 0;
}

.form-request .form-request-inner form{
    margin: 0 auto;
    width: 60%;
}

.form-request .form-request-inner h2{
    padding-bottom: 18px;
}

.form-request .form-request-inner h3{
    color: #666666;
    padding-bottom: 28px;
}

.form-request .form-request-inner input[type="text"],.form-request .form-request-inner input[type="tel"], .form-request .form-request-inner input[type="email"] {
    /*width: 500px;*/
    width: 100%;
    height: 56px;
    background: #ECF0F4;
    font-size: 14px;
    border: none;
    margin-bottom: 20px;
    padding-left: 20px;
    color: #666666;
}

.form-request .form-request-inner input[type="text"]:focus,.form-request .form-request-inner input[type="tel"]:focus, .form-request .form-request-inner input[type="email"]:focus{
    border: 1px solid #9DAFBD;
    background: #FFFFFF;
}

.form-request .form-request-inner form input::placeholder{
    font-family: 'ProximaNovaRegular';
    color: #9DAFBD;
    font-size: 14px;
}

.form-request .form-request-inner form input::-webkit-input-placeholder{
    font-family: 'ProximaNovaRegular';
    color: #9DAFBD;
    font-size: 14px;
}

.form-request .form-request-inner form input::-moz-placeholder{
    font-family: 'ProximaNovaRegular';
    color: #9DAFBD;
    font-size: 14px;
}

.form-request .form-request-inner form input:-ms-input-placeholder{
    font-family: 'ProximaNovaRegular';
    color: #9DAFBD;
    font-size: 14px;
}

.form-request .form-request-inner form input:-moz-placeholder{
    font-family: 'ProximaNovaRegular';
    color: #9DAFBD;
    font-size: 14px;
}

.form-request .form-request-inner form .cont{
    position: relative;
    font-size: 14px;
    line-height: 16px;
    display: block;
    padding: 18px 0 40px 32px;
}

.form-request .form-request-inner form .cont a{
    color: #9dafbd;
}

.form-request .form-request-inner form .cont input[type="checkbox"] {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    top: 15px;
    left: 101px;
    z-index: 2;
}

.form-request .form-request-inner form .checkmark {
    position: absolute;
    border: 1px solid rgba(0, 0, 0, 0.17);
    top: 15px;
    left: 101px;
    width: 22px;
    height: 22px;
    content: url("../img/checkbox.png");
}

.form-request .form-request-inner input[type="checkbox"]:checked+.checkmark {
    content: url("../img/checkbox-active.svg");
    border: none;
}

/* Form Request Accepted */

.form-request .request-shadow{
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    z-index: 1000;
    width: 100%;
    overflow: scroll;
}

.form-request .request-shadow .request-accepted{
    width: 832px;
    height: 490px;
    background: #FFFFFF;
    margin: 238px auto;
    text-align: center;
    position: relative;
}

.form-request .request-shadow .request-accepted .top{
    background: #ecf0f4;
    padding: 50px 0;
}

.form-request .request-shadow .request-accepted .top img{
    width: 100px;
    height: auto;
}

.form-request .request-shadow .request-accepted h3{
    color: #000000;
    font-family: 'ProximaNovaRegular';
    line-height: 30px;
    margin-top: -6px;
    padding-bottom: 0px;
}

.form-request .request-shadow .request-accepted p{
    color: #000000;
    padding-bottom: 43px;
}

.form-request .request-shadow .request-accepted .bottom{
    padding: 58px 0;
}

.form-request .request-shadow .request-accepted .bottom h3{
    padding-bottom: 19px;
}

.form-request .request-shadow .request-accepted .more{
    padding: 12px 23px;
}


/* Error Page */

.error-page .error-text-content{
    text-align: center;
    padding: 69px 0 106px;
}

.error-page .error-text-content h1{
    padding-bottom: 29px;
}

.error-page .error-text-content h3{
    padding-bottom: 46px;
}

.error-page .error-text-content h3 a{
    color: #9DAFBD;
    font-size: 26px;
}

.error-page .error-text-content .more{
    padding: 12px 23px;
}

.error-page .error-content-inner{
    background: #ecf0f4;
    padding: 2px 0;
}

.error-page .error-content-inner .left{
    padding: 46px 134px 0 68px;
}

.error-page .error-content-inner .left h2{
    color: #000000;
    padding-bottom: 13px;
}

.error-page .error-content-inner .left p{
    color: #333333;
    padding-bottom: 28px;
}

.error-page .error-content-inner .left a{
    font-family: 'ProximaNovaBold';
    border-bottom: 2px solid;
}

.error-page .error-content-inner .right{
    margin-left: -10px;
}

.error-page .error-content-inner .right img{
    width: 102%;
    margin-bottom: -6px;
}


/* Contacts Page */

.contact-page .contact-header{
    text-align: center;
    padding-top: 20px;
    margin-bottom: -8px;
}

.contact-page .contact-inner{
    background: #fbfbfb;
    margin-bottom: 51px;
}

.contact-page #map{
    width: 566px;
    height: 388px;
    display: block;
    margin-top: 0;
    margin-bottom: 32px;
}

.contact-page #map .gmnoprint{
    display: none;
}

.contact-page .contact-inner-content{
    padding-bottom: 48px;
}

.contact-page .contact-inner-content .left div{
    display: inline-block;
}

.contact-page .contact-inner-content .left .padding{
    padding: 0 55px 0 66px;
}

.contact-page .contact-inner-content .left .phone{
    padding-top: 8px;
}

.contact-page .contact-inner-content .left h6{
    color: #000000;
}

.contact-page .contact-inner-content .left p{
    color: #000000;
}

.contact-page .contact-inner-content .left .position{
    background: #FFFFFF;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.17);
    width: 566px;
    height: 180px;
    text-align: center;
    padding: 32px 146px;
    position: absolute;
    bottom: 82px;
}

.contact-page .contact-inner-content .left .position h6{
    padding-left: 14px;
    padding-bottom: 7px;
}

.contact-page .contact-inner-content .right{
    background: #FFFFFF;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.17);
    padding: 45px 50px 54px 50px;
    margin-left: 16px;
}

.contact-page .contact-inner-content .right h3{
    padding-bottom: 25px;
}

.contact-page form #firstname{
    margin-right: 5px;
}

.contact-page form #subject{
    width: 238px;
}

.contact-page form input[type="email"]{
    width: 100%;
    height: 56px;
    background: #ECF0F4;
    font-size: 14px;
    border: none;
    margin-bottom: 10px;
    padding-left: 20px;
    color: #666666;
    font-family: 'ProximaNovaRegular';
}

.contact-page form input[type="email"]:focus, .contact-page form input[type="text"]:focus{
    border: 1px solid #9DAFBD;
    background: #FFFFFF;
}

.contact-page form input[type="text"]{
    display: inline-block;
    width: 220px;
    height: 56px;
    background: #ECF0F4;
    font-size: 14px;
    border: none;
    margin-bottom: 10px;
    padding-left: 20px;
    color: #666666;
    font-family: 'ProximaNovaRegular';
}

.contact-page form textarea{
    width: 100%;
    resize: none;
    height: 180px;
    background: #ECF0F4;
    font-size: 14px;
    border: none;
    margin-bottom: 14px;
    padding-left: 20px;
    padding-top: 19px;
    color: #666666;
    font-family: 'ProximaNovaRegular';
}


.contact-page form .cont{
    position: relative;
    font-size: 14px;
    line-height: 16px;
    display: inline-block;
    padding: 11px 0 0 39px;
}

.contact-page form .cont a{
    color: #9dafbd;
}

.contact-page form .cont input[type="checkbox"] {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    top: 15px;
    left: 101px;
    z-index: 2;
}

.contact-page form .checkmark {
    position: absolute;
    border: 1px solid rgba(0, 0, 0, 0.17);
    top: 8px;
    left: 4px;
    width: 22px;
    height: 22px;
    content: url("../img/checkbox.png");
}

.contact-page input[type="checkbox"]:checked+.checkmark {
    content: url("../img/checkbox-active.svg");
    border: none;
}


.contact-page form input::placeholder{
    font-family: 'ProximaNovaRegular';
    color: #9DAFBD;
    font-size: 14px;
}

.contact-page form input::-webkit-input-placeholder{
    font-family: 'ProximaNovaRegular';
    color: #9DAFBD;
    font-size: 14px;
}

.contact-page form input::-moz-placeholder{
    font-family: 'ProximaNovaRegular';
    color: #9DAFBD;
    font-size: 14px;
}

.contact-page form input:-ms-input-placeholder{
    font-family: 'ProximaNovaRegular';
    color: #9DAFBD;
    font-size: 14px;
}

.contact-page form input:-moz-placeholder{
    font-family: 'ProximaNovaRegular';
    color: #9DAFBD;
    font-size: 14px;
}

.contact-page form textarea::placeholder{
    font-family: 'ProximaNovaRegular';
    color: #9DAFBD;
    font-size: 14px;
}

.contact-page form textarea::-webkit-input-placeholder{
    font-family: 'ProximaNovaRegular';
    color: #9DAFBD;
    font-size: 14px;
}

.contact-page form textarea::-moz-placeholder{
    font-family: 'ProximaNovaRegular';
    color: #9DAFBD;
    font-size: 14px;
}

.contact-page form textarea:-ms-input-placeholder{
    font-family: 'ProximaNovaRegular';
    color: #9DAFBD;
    font-size: 14px;
}

.contact-page form textarea:-moz-placeholder{
    font-family: 'ProximaNovaRegular';
    color: #9DAFBD;
    font-size: 14px;
}

.contact-page form input[type="submit"]{
    display: inline-block;
    float: right;
}


/* Contacts Form Accepted */

.contact-page .contact-shadow{
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    z-index: 1000;
    width: 100%;
    overflow: scroll;
}

.contact-page .contact-shadow .contact-accepted{
    width: 832px;
    height: 490px;
    background: #FFFFFF;
    margin: 276px auto;
    text-align: center;
    position: relative;
}

.contact-page .contact-shadow .contact-accepted .top{
    background: #ecf0f4;
    padding: 50px 0;
}

.contact-page .contact-shadow .contact-accepted .top img{
    width: 100px;
    height: auto;
}

.contact-page .contact-shadow .contact-accepted h3{
    color: #000000;
    font-family: 'ProximaNovaRegular';
    line-height: 30px;
    margin-top: -6px;
    padding-bottom: 0px;
}

.contact-page .contact-shadow .contact-accepted p{
    color: #000000;
    padding-bottom: 43px;
}

.contact-page .contact-shadow .contact-accepted .bottom{
    padding: 58px 0;
}

.contact-page .contact-shadow .contact-accepted .bottom h3{
    padding-bottom: 19px;
}

.contact-page .contact-shadow .contact-accepted .more{
    padding: 12px 23px;
}


/* Product Page */

.products-page .products-content{
    text-align: center;
    padding-top: 69px;
    padding-bottom: 0;
}

.products-page .products-content h1{
    padding-bottom: 83px;
}

.products-page .products-content .left{
    padding-right: 16px;
}

.products-page .products-content .right{
    padding-left: 16px;
}

.products-page .products-content img{
    width: 100%;
    height: auto;
}

.products-page .products-content .item h2{
    padding-top: 27px;
    padding-bottom: 6px;
    color: #333333;
}

.products-page .products-content .item p{
    color: #9DAFBD;
}

.products-page .products-content .item{
    padding-bottom: 70px;
}

.products-page .products-content .first{
    padding-bottom: 145px;
}

.products-page .updates-form{
    background: #f8f8f8;
    text-align: center;
}

.products-page .updates-form .updates-form-padding{
    padding: 88px 0 99px 0;
}

.products-page .updates-form .updates-form-padding h2{
    padding-bottom: 28px;
}

.products-page .updates-form .form-updates-content{
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.17);
    background: #FFFFFF;
    width: 750px;
    padding: 40px 30px;
    margin: 61px auto 0;
    text-align: left;
}

.products-page .updates-form .form-updates-content input{
    width: 525px;
    border: 1px solid #ECF0F4;
    height: 40px;
    padding: 12px 0 10px 15px;
    vertical-align: bottom;
    margin-right: 16px;
}

.products-page .updates-form .form-updates-content input::placeholder{
    font-family: 'ProximaNovaRegular';
    color: #9DAFBD;
    font-size: 14px;
}

.products-page .updates-form .form-updates-content input::-webkit-input-placeholder{
    font-family: 'ProximaNovaRegular';
    color: #9DAFBD;
    font-size: 14px;
}

.products-page .updates-form .form-updates-content input::-moz-placeholder{
    font-family: 'ProximaNovaRegular';
    color: #9DAFBD;
    font-size: 14px;
}

.products-page .updates-form .form-updates-content input:-ms-input-placeholder{
    font-family: 'ProximaNovaRegular';
    color: #9DAFBD;
    font-size: 14px;
}

.products-page .updates-form .form-updates-content input:-moz-placeholder{
    font-family: 'ProximaNovaRegular';
    color: #9DAFBD;
    font-size: 14px;
}


/* Projects Page */

.projects-page table tr{
    height: 235px;
    border: 1px solid white;
}

.projects-page table td{
    width: 234px;
    vertical-align: top;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    border: 1px solid white;
    cursor: pointer;
}

.projects-page table td img{
    display: none;
}

.projects-page table .size-s{
    background-size: 100% 119%;
}

.projects-page table img{
    width: 100%;
    height: auto;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    z-index: 1000;
    overflow: scroll;
}

.projects-page .our-projects{
    text-align: center;
}

.projects-page .our-projects .projects-inner{
    padding-top: 69px;
    padding-bottom: 101px;
}

.projects-page .our-projects .projects-inner h1{
    padding-bottom: 85px;
}

.projects-page .our-projects .projects-inner .more{
    margin-top: 48px;
}

.image {
    margin:30px;
    cursor:pointer;
    max-height:100px;
}

  .popup {
      position: absolute;
      height:100%;
      width:100%;
      top:0;
      left:0;
      display:none;
      text-align:center;
  }

  .popup_bg {
      background:rgba(0,0,0,0.5);
      position:absolute;
      z-index:1;
      height:100%;
      width:100%;
  }

  .popup_img {
      position: relative;
      margin: 12% auto;
      z-index:2;
      max-height:94%;
      max-width:100%;
  }






/*# sourceMappingURL=style.css.map */