
@media (max-width: 1439px) {

  header .menu .menu-settings ul li{
    padding-right: 10px;
  }
  header .menu .menu-settings ul .select-selected:after{
    right: -5px;
  }
  .banner{
    background-size: 100% 480px;
    .banner-inner{
      padding-top: 400px;
    }
  }
  .directions .item{
    width: 32%;
  }
  .installation .block-list ul li{
    margin: 0 50px;
  }
  .about-us .advantage ul {
    padding-right: 10px;
  }
  .error-content img{
    height: auto;
  }
  .solutions .title-block{
    padding: 40px 60px 50px;
  }
  .directions .item.big-size{
    width: 766px;
  }
  .solutions .about-us .container .advantage ul li{
    margin-bottom: 40px;
  }
  .news .directions .item .item-box{
    height: auto;
    padding-bottom: 40px;
    min-height: 328px;
  }
  .directions .item.main-news .item-box{
    min-height: 544px;
  }
  .news .directions .item .item-box h3{
    line-height: 38px;
  }
  .news .date{
    bottom: 10px;
  }
  .news .directions .item img{
    max-height: 210px;
  }
  .article .title-block{
    padding: 50px 30px 60px;
  }
  .article .border-box .alignleft{
    min-height: 630px;
  }
}

@media (max-width: 1199px) {
  h3{
    font-size: 26px;
    line-height: 38px;
  }
  h2{
    font-size: 40px;
    line-height: 50px;
  }
  h1{
    font-size: 56px;
    line-height: 68px;
  }
  .banner{
    min-height: auto;
  }
  .banner .banner-inner .slider{
    padding: 30px 80px;
  }
  .banner .banner-inner .slider h2 {
    padding-bottom: 20px;
  }
  .banner {
    background-size: 100% 420px;
  }

  .banner .banner-inner{
    margin-left: -10px;
    margin-right: -10px;
    padding-top: 360px;
    padding-bottom: 70px;
  }
  header{
    padding: 60px 0 30px;
  }
  header .logo{
    width: 100%;
    padding-top: 8px;
  }
  .content {
    margin-top: 175px;
  }
  header .menu .menu-settings ul li {
    padding-right: 6px;
  }
  header .menu .menu-navigation ul li a{
    font-size: 24px;
  }
  .installation {
    padding-top: 0px;
    padding-bottom: 180px;
  }
  .about-us .advantage ul li .num{
    width: 60px;
    height: 60px;
    padding-top: 0;
    font-size: 50px;
    line-height: 59px;
  }

  .about-us .advantage ul li {
    padding-left: 100px;
    line-height: 100px;
  }
  .installation .block-list ul li {
    margin: 0 40px;
  }
  .feedback form {
    max-width: 90%;
  }
  footer .column{
    margin-bottom: 30px;
  }
  footer .copy{
    float: none;
    text-align: center;
  }
  footer{
    padding-bottom: 30px;
  }
  .directions .item.big-size {
    width: 646px;
  }

  .solutions .about-us .container .advantage {
    margin-right: -70px;
    padding-top: 50px;
  }
  .telemetry .analytics .block-padding{
    padding: 30px 0 0 30px;
  }
  .telemetry .options .block-padding{
    padding-top:90px;
  }
  .telemetry .private-office .block-padding {
    padding: 60px 0 0 30px;
  }
  .telemetry .about-us .container img {
    min-height: 713px;
  }
  .news .directions .item img {
    max-height: 177px;
  }
  .news .directions .item{
    height: 504px;
  }
  .directions .item.main-news .item-box {
   height: 504px;
    min-height: auto;
  }
  .article .border-box .alignleft{
    min-height: auto;
  }
  .article .article-inner{
    padding-bottom: 20px;
  }

}
@media(max-width: 991px) {
  header .menu{
    display: none;
  }
  header .menu-responsive{
    display: block;
  }
  .search{
    padding: 0 30px;
  }
  .menu-responsive-inner.open{
    display: block;
    z-index: 3;
  }
  header .menu-responsive .menu-navigation ul li a{
    font-size: 20px;
  }
  header .menu .menu-settings, header .menu-responsive .menu-settings {
    padding-bottom: 0;
  }
  header .menu .menu-settings ul .select-selected:after, header .menu-responsive .menu-settings ul .select-selected:after{
    right: auto;
    left: 48px;
  }
  header .menu-responsive .menu-settings ul .select-items{
    position: relative;
    width: 80px;
    padding: 0;
    text-align: center;
  }
  header .logo{
    padding-top: 0;
    height: auto;
  }
  header {
    padding: 30px 0 20px;
  }
  .search{
    img{
      width: 25px;
      height: auto;
    }
  }
  .content {
    margin-top: 112px;
  }
  .banner {
    background-size: 100%;
    .banner-inner{
      padding-top: 240px;
    }
    .container{
      padding-left: 20px;
      padding-right: 20px;
    }
  }
  .directions .item {
    width: 48%;
    height: auto;
    margin-bottom: 15px;
  }
  .directions .block{
    padding-bottom: 60px;
  }
  footer .column{
    display: inline-block;
    vertical-align: top;
  }
  .installation .block-header{
    height: auto;
  }
  .installation .block-header h1{
    padding: 50px 0;
  }
  .about-us .advantage ul li .num{
    font-size: 40px;
  }
  .btn-default{
    font-size: 24px;
  }
    footer .copy{
      float: right;
    }
  h1{
    font-size: 40px;
    line-height: 52px;
  }
  h2{
    font-size: 28px;
    line-height: 40px;
  }
  h3{
    font-size: 20px;
    line-height: 32px;
  }
  #searchForm{
    margin-top: -20px;
  }
  #searchForm .btn-default{
    font-size: 20px;
    right: 20px;
  }
  .title-block{
    padding: 30px 40px 20px;
    margin-top: -60px;
  }
  .contacts .title-block h1{
    padding-bottom: 16px;
  }
  .solutions .banner img {
    min-height: 220px;
  }
  .solutions .title-block {
    padding: 40px 40px 20px;
    margin-top: 0;
  }
  .solutions .title .container{
    max-width: 100%;
    padding: 0 20px;
  }
  .directions .item.big-size {
    width: 98%;
    height: auto;
  }
  .solutions .directions .item .item-box{
    height: 140px;
  }
  .solutions .directions .item{
    height: auto;
  }
  .solutions .directions .item img{
    height: 164px;
  }
  .directions .item img{
    height: 164px;
  }
  .solutions .about-us .container{
    padding: 0 20px;
  }
  .solutions .about-us .container .advantage ul li {
    margin-bottom: 30px;
    font-size: 20px;
  }
  .solutions .installation .block-list{
    padding: 20px 50px 40px;
  }
  p{
    font-size: 17px;
  }
  .solutions .directions {
    padding-bottom: 70px;
  }
  .solutions .about-us h1 {
    top: -80px;
  }
  .solutions .directions .block{
    display: flex;
    flex-flow: wrap;
    .item.big-size{
      order:2;
    }
    .item{
      margin: 0 auto 30px;
    }
  }
  .telemetry .analytics .move-link ul li a{
    font-size: 16px;
  }
  .telemetry ul li{
    font-size: 16px;
    line-height: 22px;
  }
  .telemetry .analytics .image {
    padding-right: 0;
  }
  .telemetry .analytics .block-padding{
    padding-top: 0;
  }
  .telemetry .options .image {
    padding-left: 0;
  }
  .telemetry .block-padding h3{
    margin-right: 20px;
  }
  .telemetry .options .block-padding {
    padding-top: 20px;
  }
  .telemetry .private-office .block-padding{
    padding-top: 20px;
  }
  .telemetry .private-office .block-padding .go-to {
    padding-top: 6%;
    font-size: 15px;
  }
  .telemetry .private-office{
    padding-bottom: 130px;
  }
  .news .directions .item.big-size{
    width: 100%;
  }
  .news .directions .item .item-box h3 {
    line-height: 30px;
  }
  .news .directions .item .item-box {
    min-height: 280px;
  }
  .news .directions .item {
    height: 444px;
  }
  .news .main-news .item-box h3{
    font-size: 34px;
  }
  .directions .item.main-news .item-box{
    height: auto;
  }
  .article .directions .item:last-of-type{
    display: none;
  }
  .article .title-block {
    padding: 30px 30px 20px;
  }
  .article .contacts-inner {
    padding-bottom: 40px;
  }
  .article .news-inner .block{
    padding-bottom: 0;
  }
  .article .news-inner{
    padding-bottom: 0;
  }
  .article .article-inner {
    padding-bottom: 0;
  }
}
@media(max-width: 767px){
  header{
    padding: 25px 15px 15px;
    min-height: 102px;
  }
  .content {
    margin-top: 102px;
  }
  .search img{
    width: auto;
  }
  .menu-open img{
    width: auto;
  }
  header .logo {
    padding-top: 2px;
    padding-right: 20px;
  }
  .search {
    padding: 0 35px;
  }
  .banner{
    background-size: 100% 240px;
  }
  h1{
    font-size: 32px;
    line-height: 38px;
    padding-bottom: 15px;
  }
  h2{
    font-size: 20px;
    line-height: 28px;
  }
  h3{
    font-size: 20px;
    line-height: 23px;
    letter-spacing: -1px;
  }
  .banner h3{
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.5px;
  }
  .banner .banner-inner {
    padding-top: 240px;
    padding-bottom: 30px;
  }
  .banner .banner-inner .slider .owl-nav .owl-prev{
    width: 14px;
    background-size: 16px 16px;
    height: 15px;
    left: 17px;
    top: 59%;
  }
  .banner .banner-inner .slider .owl-nav .owl-next{
    width: 14px;
    background-size: 16px 16px;
    height: 15px;
    right: 17px;
    top: 59%;
  }
  .banner .banner-inner .slider .owl-dots .owl-dot span{
    width: 30px;
    margin: 0 -8px 0 0;
    height: 1px;
    bottom: 3px;
  }
  .banner .banner-inner .slider .owl-dots .active span{
    height: 2px;
  }
  .directions .block {
    text-align: center;
    padding: 0 15px;
  }
  .directions h1 {
    letter-spacing: 0;
  }
  .directions .item{
    width: 100%;
    max-width: 290px;
  }
  .directions .item .item-box{
    height: 159px;
    padding: 14px 14px;
  }
  .directions .item .item-box h3{
    padding-bottom: 20px;
  }
  .content li{
    font-size: 12px;
    line-height: 17px;
    letter-spacing: -0.7px;
    padding-left: 4px;
  }
  .content li:before{
    top: 8px;
    width: 4px;
    height: 1px;
  }
  .directions .item .item-box h3 br{
    display: none;
  }
  .installation .block-header{
    margin: -14px auto 0;
    max-width: 700px;
  }
  .installation .block-header h1 {
    padding: 21px 0;
  }
  .installation .block-list{
    padding-top: 15px;
    max-width: 700px;
    margin: 0 auto;
  }
  .installation{
    padding-bottom: 82px;
  }
  .about-us h1{
    top: -68px;
  }
  .about-us .advantage ul li h3{
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.5px;
  }
  .about-us .advantage ul li .num{
    font-size: 24px;
    line-height: 35px;
    width: 35px;
    height: 35px;
    top: 1px;
  }
  .about-us .advantage {
    padding: 27px 5px 36px 17px;
  }
  .about-us .advantage ul li h3 br{
    display: none;
  }
  .about-us .advantage ul li {
    padding-left: 60px;
    line-height: 63px;
  }
  .feedback{
    padding-top: 30px;
    padding-bottom: 80px;
  }
  .feedback h2{
    font-size: 24px;
    line-height: 28px;
    padding-bottom: 30px;
  }
  .feedback form [type=email], .feedback form [type=tel], .feedback form input[type=text], .feedback form textarea{
    height: 40px;
    margin-bottom: 27px;
    font-size: 16px;
    &::placeholder{
      font-size: 16px;
      line-height: 24px;
      letter-spacing: -0.5px;
    }
  }
  .feedback form textarea {
    padding-top: 0px;
    &::placeholder{
      font-size: 16px;
      line-height: 24px;
      padding-top: 7px;
      letter-spacing: -0.5px;
    }
  }
  .btn-default {
    font-size: 20px;
    line-height: 24px;
    width: 180px;
    height: 40px;
  }
  .feedback form .btn-default {
    margin-top: 0;
  }
  footer .column{
    display: none;
    margin-bottom: 20px;
  }
  footer .column:first-of-type{
    display: block;
    width: 100%;
  }
  footer{
    padding: 40px 20px;
  }
  footer .copy {
    float: none;
    margin-top: 0;
  }
  footer .column div{
    padding-right: 36px;
  }
  footer .address {
    font-size: 14px;
    line-height: 18px;
    padding-top: 14px;
  }
  footer p{
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0;
  }
  footer .column b{
    font-size: 13px;
    line-height: 16px;
  }
  footer .column div ul li {
    line-height: 20px;
  }
  footer .address:last-of-type {
    padding-bottom: 0;
  }
  footer .mail{
    margin: 15px 0;
  }
  footer .logo{
    margin: 0;
    width: 100%;
    img{
      width: 170px;
      height: 40px;
    }
  }
  .scrollup-btn{
    width: 50px;
    height: 50px;
    background-size: 50px;
  }
  p{
    font-size: 14px;
    line-height: 17px;
    letter-spacing: -.7px;
  }
  a.btn-default {
    padding: 6px 22px;
  }
  #searchForm{
    margin-top: -8px;
  }
  #searchForm .btn-default{
    right: 0;
    font-size: 18px;
    height: 30px;
  }
  #searchForm input[type=text]{
    height: 30px;
    width: 300px;
    font-size: 16px;
  }
  .contacts .info{
    padding: 0 20px;
  }
  .directions .item.big-size{
    max-width: 90%;
  }
  .directions .item.big-size .item-box {
    padding: 22px 20px;
  }
  .solutions .about-us .container .advantage ul li{
    font-size: 16px;
    padding-left: 10px;
    line-height: 24px;
    .num{
      top:0;
    }
  }
  .solutions .about-us .container .advantage{
    padding-bottom: 0;
  }
  .solutions .about-us .container img{
    min-height: 540px;
  }
  .solutions .installation .block-list {
    padding: 20px 30px 30px;
    min-height: auto;
  }
  .solutions .banner img {
    min-height: 180px;
  }
  .solutions .about-us .container .advantage ul li{
    min-height: auto;
  }
  .solutions .about-us .container img {
    min-height: 480px;
  }
  .solutions .about-us .container .advantage {
    padding-top: 28px;
  }
  .telemetry .analytics .move-link ul li a {
    font-size: 14px;
  }
  .telemetry .options .block-padding{
    padding-left: 30px;
    padding-right: 0;
  }
  .telemetry .image{
    padding-left: 30px;
    img{
      max-width: 420px;
    }
  }
  .telemetry .options .image{
    padding-left: 30px;
  }
  .telemetry .analytics .block-padding{
    padding-top: 20px;
  }
  .telemetry .block-padding h3{
    width: 80%;
  }
  .telemetry .block-padding h3 br{
    display: none;
  }
  .solutions .feedback form [type=email] {
    margin-bottom: 27px;
  }
  .news .directions .item.big-size {
    max-width: 100%;
  }
  .news .directions .item{
    min-width: 340px;
    max-width: 49%;
    height: auto;
  }
  .news .directions .item .item-box{
    min-height: 210px;
  }
  .directions .item.main-news .item-box{
    height: auto;
    min-height: 400px;
  }
  .news .directions .item.main-news .item-box{
    padding-top: 160px;
    h3{
      font-size: 28px;
    }
  }
  .article .article-inner .border-box{
    padding: 0 10px;
  }
  .article .border-box .alignleft{
    margin-bottom: 10px;
  }
  .article p {
    padding-bottom: 14px;
  }
  .article .news-inner .block:before{
    left: 10px;
    width: 96%;
  }
  .article .border-box .alignleft{
    padding-right: 0;
  }
  .article .border-box .text{
    padding-left: 0;
  }
  .article .repost ul li a i{
    width: 26px;
    height: 26px;
    font-size: 19px;
    padding-top: 4px;
  }
  .article .repost ul li a .fa-facebook-f {
    font-size: 14px;
    padding-top: 6px;
  }
  .article .repost p{
    font-size: 13px;
  }

}

@media (max-width: 479px){
  header{
    padding: 25px 15px 5px;
    min-height: auto;
  }
  .content{
    margin-top: 60px;
  }
  .banner{
    background-size: 100% 120px;
  }
  h1{
    font-size: 24px;
    line-height: 28px;
  }
  h2{
    font-size: 16px;
    line-height: 19px;
  }
  .banner h3{
    font-size: 12px;
    line-height: 17px;
    letter-spacing: -0.6px;
  }
  .banner .banner-inner {
    padding-top: 120px;
    padding-bottom: 15px;
  }
  .banner .banner-inner .slider {
    padding: 15px 52px 20px;
  }
  .banner .banner-inner .slider h2{
    padding-top: 15px;
    padding-bottom: 0;
  }
  .installation .block-list ul li{
    display: block;
    margin:0;
  }
  .installation .block-list{
    padding: 15px 30px;
  }
  .installation .block-list ul:after{
    display: none;
  }
  .about-us .advantage ul li h3{
    font-size: 12px;
    line-height: 17px;
    letter-spacing: -0.6px;
  }
  .feedback form [type=email], .feedback form [type=tel], .feedback form input[type=text], .feedback form textarea{
    height: 30px;
    font-size: 12px;
    &::placeholder{
      font-size: 12px;
      line-height: 17px;
      letter-spacing: -0.6px;
    }
  }
  .scrollup-btn{
    width: 40px;
    height: 40px;
    background-size: 40px;
  }
  footer .column div {
    padding-right: 0;
  }
  p{
    font-size: 12px;
  }
  a.btn-default {
    padding: 4px 10px;
  }
  #searchForm input[type=text]{
    width: 290px;
    height: 20px;
    font-size: 12px;
  }
  #searchForm .btn-default{
    font-size: 14px;
    height: 20px;
    width: 70px;
    line-height: 14px;
  }
  #searchForm {
    margin-top: 0;
  }
  .solutions .about-us .container .advantage ul li{
    font-size: 13px;
    margin-bottom: 10px;
    line-height: 16px;
  }
  .solutions .about-us .container img {
    min-height: 400px;
  }
  .solutions .about-us .container .advantage{
    margin-right: -50px;
    padding-top: 30px;
  }
  .solutions .title-block {
    padding: 20px 25px 0px;
  }
  .solutions .banner img {
    min-height: 100px;
  }
  .telemetry .analytics .move-link ul li{
    padding-bottom: 0;
    a{
      font-size: 12px;
      line-height: 16px;
    }
  }
  .telemetry .block-padding ul li{
    font-size: 12px;
    line-height: 20px;
  }
  .telemetry .analytics .block-padding{
    padding-left: 15px;
  }
  .telemetry .private-office .block-padding{
    padding-left: 15px;
  }
  .telemetry .options .block-padding{
    padding-left: 15px;
  }
  .telemetry .image {
    padding: 0;
    text-align: center;
  }
  .telemetry .options .image {
    padding-left: 0;
  }
  .telemetry .private-office .image {
    padding-right: 0;
  }
  .telemetry .block-padding h3 {
    width: 90%;
  }
  .telemetry .image img {
    max-width: 290px;
  }
  .telemetry .analytics .move-link {
    margin-top: -40px;
  }
  .telemetry .private-office .block-padding .go-to {
    padding-top: 20px;
    font-size: 12px;
  }
  .telemetry .feedback {
    padding-top: 50px;
  }
  .btn-default{
    font-size: 16px;
    width: 140px;
    height: 32px;
  }
  .directions .item.big-size {
    max-width: 100%;
  }
  .news .directions .item{
    min-width: 280px;
  }
  .contacts .contacts-inner .title-block{
    margin-top: 0;
  }
  .news .date {
    font-size: 13px;
  }
  .article .contacts-inner {
    padding-bottom: 20px;
  }
  .article .title-block{
    padding: 20px;
  }
}