@media (max-width: 1439px){
    .tablet{
        display: block;
    }

    .tablet-none{
        display: none;
    }

    header .settings .top-panel .top-menu ul .tablet-none{
        display: none;
    }

    header .settings .top-panel .top-menu ul .tablet{
        display: inline-block;
        position: relative;
    }

    header .settings .top-panel .top-menu ul .tablet a{
        position: relative;
    }

    header .settings .top-panel .top-menu ul .tablet a img{
        position: absolute;
        top: 8px;
        right: -12px;
    }

    header .settings .top-panel .top-menu ul .tablet .submenu{
        display: none;
    }

    header .settings .top-panel .top-menu ul .tablet .open{
        display: block;
        display: block;
        position: absolute;
        width: 130px;
        background: white;
        margin-top: 16px;
        z-index: 2;
        border: 1px solid #dedede;
        left: -30px;
        z-index: 4;
    }

    header .settings .top-panel .top-menu ul .tablet .open li{
        border-bottom: 1px solid #dedede;
        line-height: 40px;
        padding-left: 8px;
        width: 100%;
    }

    header .settings .top-panel .login .picture{
        left: 0;
        right: 0;
    }

    header .settings .top-panel .compare .picture{
        left: 0;
        right: -100px;
    }

    header .header-content{
        background: url("../img/responsive-bg.png");
        height: 80px;
        text-align: center;
    }

    header .header-content .logo img{
        width: 90%;
        height: 95%;
    }

    header .header-content .logo{
        padding-top: 17px;
        padding-left: 0;
        text-align: right;
    }

    .city{
        text-align: center;
    }

    .city .tablet p{
        position: relative;
    }

    .city .tablet input[type="text"]{
        border-radius: 5px;
        border: 1px solid #dedede;
        box-shadow: 2px 0 4px rgba(0, 0, 0, 0.25);
        width: 250px;
        height: 50px;
        margin-top: 15px;
        padding-left: 15px;
    }

    .city .tablet input[type="text"]::placeholder{
        color: #A8A8A8;
        font-family: 'CircleRegular';
        font-size: 13px;
        line-height: 15px;
        opacity: 1;
    }

    .city .tablet input[type="text"]:-ms-input-placeholder,::-moz-placeholder, ::-webkit-input-placeholder, :-moz-placeholder{
        color: #A8A8A8;
        font-family: 'CircleRegular';
        font-size: 13px;
        line-height: 15px;
        opacity: 1;
    }

    .city .tablet input[type="text"]::-ms-input-placeholder{
        color: #A8A8A8;
        font-family: 'CircleRegular';
        font-size: 13px;
        line-height: 15px;
        opacity: 1;
    }

    .city .tablet input[type="submit"]{
        width: 48px;
        height: 48px;
        background-color: #042567;
        background-image: url("../img/search.svg");
        background-position: 40% 50% ;
        background-repeat: no-repeat;
        color: transparent;
        border: none;
        border-radius: 4px;
        position: absolute;
        right: 75px;
        bottom: 1px;
    }

    header .header-content .contacts div{
        display: none;
        background: #FFFFFF;
        border: 1px solid #DEDEDE;
        box-shadow: 4px 0 15px rgba(0, 0, 0, 0.15);
        width: 237px;
        height: 175px;
        position: absolute;
        z-index: 2;
        padding: 42px 30px 0 28px;
        top: 23px;
        right: 1px;
    }

    header .header-content .contacts .open{
        display: block;
    }

    header .header-content .contacts .tablet img{
        padding-left: 2px;
    }

    header .header-content .contacts .number{
        display: none;
    }

    header .header-content .contacts p{
        color: #000000;
        font-size: 15px;
        padding-bottom: 22px;
    }

    header .header-content .contacts .mail a{
        color: #000000;
    }

    header .header-content .contacts .schedule{
        text-align: right;
        padding-bottom: 0;
    }

    header .header-content .contacts .mail{
        text-align: right;
        padding-top: 19px;
    }

    header .header-content .contacts .tablet{
        color: #FFFFFF;
        font-size: 18px;
        line-height: 25px;
        cursor: pointer;
        position: relative;
        z-index: 3;
    }

    header .header-content .contacts .active{
        color: #000000;
    }

    header .header-content .contacts .active img{
        content: url("../img/Rectangle-black-up.svg");
    }

    header .header-content .contacts{
        margin: 0;
        padding: 28px 0 0;
        text-align: center;
    }

    header .header-content .contacts .tablet img{
        vertical-align: middle;
    }

    header .header-content .basket{
        padding: 15px 0 0;
        text-align: center;
    }

    header .header-content .basket button{
        color: transparent;
        width: 50px;
        height: 50px;
        padding: 0;
    }

    header .header-content .basket button img{
        left: 10px;
        top: 14px;
    }

    header .navigation .navigation-panel .catalog{
        position: relative;
        display: inline-block;
        margin: 0;
        width: 33%;
    }

    header .navigation .navigation-panel .catalog .tablet .open{
        display: block;
        position: absolute;
        z-index: 2;
        margin-top: 21px;
        left: 0px;
        width: 307px;
    }

    header .navigation .navigation-panel .catalog .tablet .active .open{
        position: relative;
    }

    header .navigation .navigation-panel{
        display: flex;
    }

    header .navigation .navigation-panel .menu{
        display: inline-block;
    }

    header .navigation .navigation-panel .menu ul .tablet{
        display: inline-block;
        position: relative;
        padding: 21px 44px;
    }

    header .navigation .navigation-panel .menu ul .tablet .submenu{
        display: none;
    }

    header .navigation .navigation-panel .menu ul .tablet-none{
        display: none;
    }

    header .navigation .navigation-panel .menu ul li{
        text-transform: none;
    }

    header .navigation .navigation-panel .menu ul .tablet img{
        position: relative;
        top: -7px;
        left: 7px;
    }

    header .navigation .navigation-panel .menu ul li:first-child{
        padding-left: 50px;
        margin-left: -30px;
    }

    header .navigation .navigation-panel .menu ul .tablet .open{
        display: block;
        position: absolute;
        width: 131px;
        background: #FFFFFF;
        border:1px solid #dedede;
        box-shadow: 4px 0 15px rgba(0, 0, 0, 0.15);
        top: 60px;
        right: -1px;
        z-index: 2;
    }

    header .navigation .navigation-panel .menu ul .tablet .open li{
        border-bottom: 1px solid #dedede;
        width: 131px;
        margin: 0;
        padding-left: 17px;
        line-height: 16px;
        transition: none;
    }

    header .navigation .navigation-panel .menu ul .tablet .open li:hover{
        background: none;
    }

    header .navigation .navigation-panel .menu ul .tablet .open li a{
        color: #000000;
    }

    .content{
        text-align: center;
    }
    .content .page-content{
        width: 100%;
    }

    .slider .owl-item img{
        padding-left: 10px;
    }

    .content .page-content .owl-carousel{
        width: 1000px;
    }

    .content .page-content .dye-logos .tablet-none{
        display: none;
    }

    .content .page-content .advantage .advantage-item .item-header img{
        width: 10%;
    }

    .content .page-content .tablet{
        display: block;
    }

    .content .page-content .slider4{
        position: relative;
        margin-left: 10px;
        width: 990px;
    }

    .content .page-content .slider4 .active{
        border-right: 1px solid #dedede;
    }

    .content .page-content .slider4 .owl-dots{
        display: none;
    }

    .content .page-content .slider4 .owl-nav{
        display: inline-block;
    }

    .content .page-content .slider4 .owl-nav .owl-prev{
        display: inline-block;
        color: transparent;
        background: url("../img/prew.svg"), no-repeat;
        width: 40px;
        height: 40px;
        position: absolute;
        left: 14px;
        top: 50px;
    }

    .content .page-content .slider4 .owl-nav .owl-prev:hover{
        background: url("../img/img-prew-blue.svg"), no-repeat;
    }

    .content .page-content .slider4 .owl-nav .owl-next{
        display: inline-block;
        color: transparent;
        background: url("../img/img-next-white.svg"), no-repeat;
        width: 40px;
        height: 40px;
        position: absolute;
        right: 14px;
        top: 50px;
    }

    .content .page-content .slider4 .owl-nav .owl-next:hover{
        background: url("../img/next.svg"), no-repeat;
    }

    .content .page-content .advantage .advantage-item{
        text-align: left;
    }


    .content .products{
        text-align: left;
    }

    .content .products h1{
        padding-left: 4%;
    }

    .content .products .slider3{
        margin: 20px auto 0;
        padding-left: 30px;
    }

    .content .products .slider3 .owl-dots{
        display: none;
    }

    .content .products .slider3 .owl-nav{
        display: inline-block;
        top: -70px;
        left: 270px;
        right: 0;
        text-align: left;
    }

    .content .products .slider3 div .product-item{
        width: 86%;
        text-align: left;
        font-size: 14px;
        padding: 28px 10px 10px;
    }

    .content .products .slider3 div .product-item .item-img img{
        width: 88%;
        height: 68%;
    }

    .content .products .slider3 div .product-item .item-img span{
        background-color: #F1000A;
        width: 59px;
        height: 59px;
        border-radius: 50%;
        font-size: 13px;
        padding: 17px 0 0;
        top: 10px;
    }

    .content .products .slider3 div .product-item .item-img{
        height: 100%;
        padding: 0;
    }

    .content .products .slider3 div .product-item .product-size{
        text-align: center;
    }

    .content .products .slider3 div .product-item .buy{
        text-align: center;
    }

    .content .products .slider3 div .product-item .product-size input+label{
        width: 60px;
    }

    .content .products .slider3 div .product-item .buy button{
        width: 215px;
        height: 40px;
        margin-bottom: 10px;
    }

    .content .page-content .feedback form{
        margin-top: 20px;
        width: 92%;
        padding-left: 35px;
        margin-left: 36px;
    }

    .content .page-content .feedback form .left{
        width: 100%;
        text-align: left;
        margin-bottom: 10px;
    }

    .content .page-content .feedback form .left h1{
        display: inline-block;
        font-size: 30px;
    }

    .content .page-content .feedback form .left p{
        display: inline-block;
        font-size: 15px;
        margin-left: 20%;
        vertical-align: top;
    }

    .content .page-content .feedback form .right{
        text-align: left;
    }

    .content .page-content .feedback form .right p{
        float: none;
        display: inline-block;
        font-size: 15px;
    }

    .content .page-content .feedback form .right input[type="text"]{
        width: 319px;
    }

    .content .page-content .feedback form .right input[type="text"]:first-child{
        margin-right: 12%;
    }

    .content .page-content .feedback form .right input[type="submit"]{
        margin-top: 0;
        vertical-align: top;
        margin-left: 22%;
        width: 205px;
    }

    .articles{
        padding: 40px;
    }

    .articles .left{
        padding-left: 0;
    }

    .articles .slider2{
        margin-left: -24px;
    }

    .articles .articles-item{
        width: 90%;
    }

    .articles .articles-item .article-text p{
        height: 150px;
        overflow: hidden;
    }

    .articles .slider2 .owl-nav{
        right: 36px;
    }

    .about-company{
        height: 100%;
        background-size: 150% 425px;
        background-repeat: no-repeat;
        background-position: 10% top;
    }

    .about-company .map-position{
        width: 100%;
        text-align: center;
        margin-left: -155px;
        margin-top: 94px;
    }

    .about-company .container{
        border-bottom: 1px solid #a8a8a8;
    }

    .about-company .tablet{
        padding: 30px 20px 30px 0;
    }

    .about-company .company-details h2{
        color: #000;
    }

    .about-company .company-details a{
        color: #000000;
        border-bottom: 1px solid #000;
    }

    .about-company .company-details p{
        color: #000000;
    }

    .footer-top .footer-menu{
        padding-bottom: 20px;
    }

    .footer-top .footer-menu ul{
        -moz-column-count: 3;
        -moz-column-width: 140px;
        -webkit-column-count: 3;
        -webkit-column-width: 140px;
        -moz-column-gap: 38px;
        -webkit-column-gap: 38px;
        column-count: 3;
        column-width: 140px;
        column-gap: 38px;
        padding-top: 18px;
    }

    .footer-top .continue .link:last-child{
        padding-top: 0;
        margin-top: 0;
    }

    .footer-top .continue .link:last-child li{
        font-size: 18px;
    }

    .footer-top .continue .link:last-child li a{
        color: #9F9F9F;
        font-size: 12px;
        border: 1px solid #9F9F9F;
        text-align: center;
        border-radius: 50%;
        padding: 6px 0;
        transition: none;
    }

    .footer-top .continue .link:last-child li a:hover{
        color: #0B1759;
        border-color: #0B1759;
        font-size: 13px;
    }

    .footer-top .continue .link:last-child li a .fab{
        width: 30px;
        height: 30px;
    }
    
}

@media (max-width: 1023px) {

    body{
        font-size: 13px;
        line-height: 15px;
        max-width: 1023px;
    }

    header .settings{
        padding-top: 16px;
        padding-bottom: 17px;
    }

    header .settings .top-panel .region{
        padding: 0 20px;
    }

    header .settings .top-panel .top-menu{
        width: 60%;
        margin-left: -5px;
    }

    header .settings .top-panel .top-menu ul li{
        padding-right: 26px;
        line-height: 17px;
    }

    header .settings .top-panel .compare{
        text-align: left;
        margin-right: 0;
        margin-left: 22px;
    }

    header .settings .top-panel .login{
        width: 13%;
    }

    header .header-content .logo{
        padding-top: 23px;
        margin-left: 4px;
    }

    header .header-content .city{
        text-align: left;
    }

    .city .tablet input[type="text"]{
        padding-top: 0px;
    }

    .city .tablet input[type="submit"]{
        right: 39px;
        background-position: 48% 48%;
        left:201px;
    }

    header .header-content .contacts{
        text-align: left;
        margin-left: -23px;
        padding: 29px 0 0;
    }

    header .header-content .contacts .tablet img{
        padding-left: 2px;
        position: absolute;
        top: 10px;
        left: 154px;
    }

    header .header-content .contacts .number{
        display: none;
    }

    header .header-content .contacts p{
        color: #000000;
        font-size: 15px;
    }

    header .header-content .contacts .mail a{
        color: #000000;
    }

    header .header-content .basket{
        padding: 15px 0 0 10px;
    }

    header .navigation{
        height: 50px;
        line-height: 15px;
        font-size: 13px;
    }

    header .navigation .navigation-panel .catalog{
        font-size: 13px;
        line-height: 18px;
        padding-top: 18px;
        width: 262px;
        margin-left: 20px;
        padding-bottom: 14px;
    }

    header .navigation .navigation-panel .catalog .tablet .open {
        margin-top: 14px;
        width: 250px;
    }

    header .navigation .navigation-panel .catalog .tablet .open .catalogMenu li:first-child {
        padding-top: 16px;
        padding-bottom: 14px;
    }

    header .navigation .navigation-panel .catalog .tablet .open .catalogMenu li{
        font-size: 13px;
        padding: 14px 0 13px;
        line-height: 15px;
    }

    header .navigation .navigation-panel .catalog .tablet .open .catalogMenu .active{
        margin-bottom: 7px;
    }

    header .navigation .navigation-panel .catalog .tablet .open .catalogMenu .open li{
        padding-top: 14px;
        padding-bottom: 13px;
        padding-left: 31px;
        height: 43px;
    }

    header .navigation .navigation-panel .catalog .tablet .open .catalogMenu .open li a{
        padding-left: 0;
    }

    .catalogInner .catalogMenu input[type="radio"] + label:before{
        left: -23px;
    }

    .catalogInner .catalogMenu input[type="radio"]:checked + label:before{
        left: -25px;
    }

    header .navigation .navigation-panel .catalog #openCatalog{
        padding: 17px 169px 14px 2px;
    }

    header .navigation .navigation-panel .catalog img{
        margin-right: -10px;
    }

    header .navigation .navigation-panel .menu{
        padding-left: 30px;
    }

    header .navigation .navigation-panel .menu img{
        top: 15px;
        left: 20px;
    }

    header .navigation .navigation-panel .menu ul li{
        vertical-align: top;
        padding: 18px 6px 17px;
    }

    header .navigation .navigation-panel .menu ul li:first-child{
        padding-left: 48px;
    }

    header .navigation .navigation-panel .menu ul .actions{
        padding: 18px 8px 17px 7px;
        margin-left: -2px;
    }

    header .navigation .navigation-panel .menu ul .tablet{
        padding: 18px 11px 17px 5px;
        margin-left: -3px;
    }

    header .navigation .navigation-panel .menu ul .tablet img{
        top: -4px;
        left: 4px;
    }

    header .navigation .navigation-panel .menu ul .tablet .open{
        top:50px;
    }

    header .navigation .navigation-panel .menu ul .tablet .open li{
        padding-left: 15px;
        line-height: 4px;
    }

    .content .page-content{
        margin-top: 20px;
        padding-left: 10px;
    }

    .content .page-content .slider{
        width: 700px;
        margin: 0 auto;
        height: 250px;
    }

    .slider .owl-item .slide{
        text-align: center;
        overflow: hidden;
        width: 127%;
    }

    .slider .owl-item img{
        height: 250px;
        padding-left: 0;
        margin-left: -192px;
        width: 122%;
    }

    .content .page-content .slider .owl-dots{
        margin-left: -10px;
        margin-top: 2px;
    }


    .content .page-content .slider4{
        display: block;
        width: 700px;
        margin: 20px auto 0;
        height: 131px;
        padding: 20px 54px 20px 50px;
    }

    .content .page-content .advantage .advantage-item{
        width: 100%;
        padding-left: 20px;
        padding-right: 0;
    }

    .content .page-content .advantage .advantage-item:last-child{
        padding-left: 20px;
    }

    .content .page-content .advantage .advantage-item:first-child{
        padding-right: 0;
    }

    .content .page-content .advantage .advantage-item .item-header .name{
        font-size: 13px;
    }

    .content .page-content .advantage .advantage-item .item-header .box{
        width: 14%;
    }

    .content .page-content .advantage .advantage-item .middle{
        padding-top: 0;
    }

    .content .page-content .slider4 .owl-nav .owl-prev{
        left:10px;
    }

    .content .page-content .slider4 .owl-nav .owl-next{
        right: 10px;
    }


    .content .page-content .dye-logos{
        width: 700px;
        margin: 0 auto -8px;
        padding-bottom: 0;
    }

    .content .page-content .dye-logos div{
        text-align: left;
        margin-left: -31px;
    }

    .content .page-content .dye-logos .dye-logos-item{
        width: 150px;
        margin-left: 30px;
        margin-bottom: 29px;
        padding-top: 16px;
    }

    .content .page-content .dye-logos .dye-logos-item a img{
        width: 87px;
        height: 87px;
    }

    .content .page-content .dye-logos .dye-logos-item .title{
        padding-top: 3px;
        line-height: 23px;
        font-size: 15px;
    }

    .content .page-content .tablet{
        display: block;
        width: 700px;
        margin: 20px auto 0;
    }

    .content .products h1{
        padding-left: 0;
        font-size: 30px;
        line-height: 35px;
    }

    .content .products .slider3 .owl-nav{
        left: 191px;
        top: -55px;
    }

    .content .products .slider3{
        margin: 6px auto 0;
        padding-left: 0;
        width: 700px;
    }

    .content .products .slider3 div .product-item{
        width: 230px;
        padding: 19px 8px 18px 10px;
        margin-bottom: 0;
    }

    .content .products .slider3 div .product-item .item-img{
        width: 90%;
        margin: 0 auto;
    }

    .content .products .slider3 div .product-item .item-img span{
        padding: 19px 0 0;
        top: 9px;
        left: 9px;
        line-height: 9px;
    }

    .content .products .slider3 div .product-item .item-img .after{
        top: 8px;
        right: 8px;
    }

    .content .products .slider3 div .product-item .item-specification{
        font-size: 12px;
        line-height: 20px;
        padding-top: 20px;
    }

    .content .products .slider3 div .product-item .price .crossed-price{
        font-size: 12px;
        right: 7px;
    }

    .content .products .slider3 div .product-item .price .crossed-price span{
        font-size: 12px;
    }

    .content .products .slider3 div .product-item .price p span{
        font-size: 16px;
        margin-left: 2px;
        margin-right: 2px;
    }

    .content .products .slider3 div .product-item .price p{
        font-size: 12px;
    }

    .content .products .slider3 div .product-item .item-specification .text{
        line-height: 18px;
        padding-top: 6px;
    }

    .content .products .slider3 div .product-item .price p .rub{
        font-size: 12px;
    }

    .content .products .slider3 div .product-item .price{
        padding-top: 2px;
    }

    .content .products .slider3 div .product-item .product-size{
        padding-top: 0;
        text-align: left;
        margin-top: -3px;
        margin-right: -4px;
        margin-left: -2px;
    }

    .content .products .slider3 div .product-item .product-size div:last-child input+label{
        margin-right: 0;
    }

    .content .products .slider3 div .product-item .product-size input+label{
        margin-right: 14px;
    }

    .content .products .slider3 div .product-item .buy button{
        margin-bottom: 22px;
        padding-top: 11px;
        padding-left: 78px;
    }

    .content .products .slider3 div .product-item .buy button img{
        left: 66px;
    }

    .content .products .slider3 div .product-item .buy a{
        margin-left: 2px;
    }

    .content .page-content .feedback form{
        margin: 20px auto 0;
        padding: 10px 21px 35px 21px;
    }

    .content .page-content .feedback form .left{
        margin-bottom: 11px;
    }

    .content .page-content .feedback form .left h1{
        letter-spacing: 0;
    }

    .content .page-content .feedback form .left p{
        font-size: 13px;
        margin-left: 66px;
        line-height: 16px;
        padding-top: 10px;
        letter-spacing: 0.1px;
    }

    .content .page-content .feedback form .right input[type="text"]:first-child{
        margin-right: 16px;
    }

    .content .page-content .feedback form .right input[type="text"]{
        margin-bottom: 15px;
    }

    .content .page-content .feedback form .right input[type="text"]::placeholder{
        font-size: 13px;
    }

    .content .page-content .feedback form .right p{
        font-size: 13px;
        line-height: 16px;
        padding-top: 3px;
        padding-right: 66px;
    }

    .content .page-content .feedback form .right input[type="submit"]{
        float: right;
        margin-left: 0;
        font-size: 13px;
    }

    .articles{
        width: 700px;
        margin: 0 auto;
        padding: 29px 0 19px;
    }

    .articles .left{
        padding-bottom: 22px;
    }

    .articles .slider2{
        width: 700px;
        margin-left: 0;
    }

    .articles .slider2 .owl-nav{
        right: 0;
    }

    .articles .articles-item:last-child{
        margin-left: 0;
    }

    .articles .articles-item{
        width: 340px;
        height: 320px;
    }

    .articles .articles-item .article-text h2{
        font-size: 18px;
    }

    .articles .articles-item .article-text p{
        font-size: 13px;
        line-height: 19px;
        padding-top: 4px;
        height: 64px;
        overflow: hidden;
    }

    .articles .articles-item .article-text a{
        font-size: 13px;
    }

    .articles .articles-item .image{
        text-align: center;
        overflow: hidden;
    }

    .articles .articles-item .image img{
        height: 171px;
        margin-left: -60px;
        width: 135%;
    }

    .articles .articles-item .article-text{
        padding: 8px 14px 20px 22px;
    }

    .articles .articles-item .image .date{
        top: 14px;
        left: 15px;
    }

    .about-company{
        background-size: 198% 425px;
        background-position: 19% top;
    }

    .about-company .map-position{
        margin-left: -58px;
        margin-top: 97px;
    }

    .about-company .company-details{
        padding-top: 80px;
        padding-left: 21px;
    }

    .about-company .company-details h2{
        font-size: 30px;
        letter-spacing: 0.1px;
    }

    .about-company .company-details p{
        font-size: 13px;
        line-height: 23px;
        padding-top: 15px;
        padding-right: 10px;
    }

    .about-company .company-details a{
        margin-top: 11px;
        margin-right: 74px;
    }

    .about-company .company-details input+label{
        right: 0;
    }

    .footer-top{
        width: 700px;
        margin:0 auto;
        padding-top: 34px;
        padding-bottom: 27px;
    }

    .footer-top .container{
        padding: 0;
    }

    .footer-top .footer-menu{
        padding-left: 20px;
        padding-bottom: 10px;
    }

    .footer-top .footer-menu h4{
        font-size: 13px;
        line-height: 15px;
        padding-bottom: 0;
    }

    .footer-top .footer-menu ul{
        padding-top: 5px;
        column-gap: 0;
        -moz-column-gap: 0;
        -webkit-column-gap: 0;
        margin-left: -86px;
    }

    .footer-top .footer-menu ul li{
        font-size: 13px;
        line-height: 29px;
        margin-left: 86px;
    }

    .footer-top .footer-menu ul .last{
        margin-left: 0;
    }

    .footer-top .logo{
        padding-left: 20px;
    }

    .footer-top .logo img{
        width: 160px;
        height: 34px;
    }

    .footer-top .logo ul li{
        font-size: 13px;
        line-height: 27px;
    }

    .footer-top .logo ul{
        padding-top: 17px;
    }

    .footer-top .logo button{
        margin-top: 56px;
        font-size: 13px;
        font-family: 'CircleRegular';
    }

    .footer-top .logo button img{
        margin-left: -4px;
        margin-right: 7px;
        vertical-align: bottom;
    }

    .footer-top .contacts{
        padding-left: 30px;
    }

    .footer-top .contacts h4{
        font-size: 13px;
        line-height: 17px;
    }

    .footer-top .contacts p{
        font-size: 13px;
        line-height: 17px;
        padding-bottom: 10px;
    }

    .footer-top .contacts .mail{
        padding-bottom: 19px;
        margin-top: -2px;
    }

    .footer-top .contacts .tel{
        padding-top: 12px;
        padding-bottom: 2px;
    }

    .footer-top .contacts .telephone{
        line-height: 23px;
    }

    .footer-top .contacts .yandex{
        position: absolute;
        right: -170px;
        top: 120px;
    }

    .footer-top .continue{
        padding-top: 0;
        padding-left: 0;
        margin-left: -30px;
    }

    .footer-top .continue h4{
        line-height: 12px;
    }

    .footer-top .continue .link{
        margin: 0;
        padding-top: 10px;
    }

    .footer-top .continue .link li{
        margin-bottom: 8px;
    }

    .footer-top .continue h4:last-of-type{
        margin-top: 126px;
        padding-bottom: 12px;
    }

    .footer-top .continue .link:last-child{
        padding-bottom: 0;
    }

    .footer-top .continue .link:last-child li{
        margin-right: -3px;
    }

    footer{
        padding-top: 19px;
        padding-bottom: 34px;
    }

    footer .footer-text {
        padding-left: 30px;
    }

    footer .footer-text p{
        padding-bottom: 2px;
    }

    footer .footer-text p span{
        display: block;
        padding-top: 2px;
    }

    footer .footer-text .text-right{
        margin-top: -36px;
        padding-right: 20px;
    }
}

@media (max-width: 699px){

    body{
        font-size: 13px;
        line-height: 15px;
        max-width: 699px;
    }

    .mobile-none{
        display: none;
    }

    .mobile{
        display:block;
    }

    header .settings{
        padding-bottom: 10px;
    }

    header .settings .menu-mobile{
        text-align: center;
    }

    header .settings .logo img{
        width: 88%;
    }

    header .settings .list ul{
        text-align: right;
    }

    header .settings .list ul li{
        display: inline-block;
        vertical-align: top;
        margin-right: 20px;
    }

    header .settings .list ul li a img{
        width: 30px;
        height: 30px;
    }

    header .settings .list ul li .icon1:hover img{
        content: url("../img/compare-blue.svg");
        width: 32px;
        height: 32px;
    }

    header .settings .list ul li .icon2:hover img{
      content: url("../img/shopping-icon-blue.svg");
        width: 32px;
        height: 32px;
    }

    header .settings .list ul li .icon3:hover img{
        content: url("../img/phone-icon-blue.svg");
        width: 32px;
        height: 32px;
    }
    
    .content{
        padding-top: 14px;
    }

    .content .search p input[type="text"]{
        border-radius: 5px;
        border: 1px solid #dedede;
        box-shadow: 2px 0 4px rgba(0, 0, 0, 0.25);
        width: 100%;
        height: 40px;
        padding: 10px 15px;
    }

    .content .search p input[type="submit"]{
        width: 38px;
        height: 38px;
        background-color: #042567;
        background-image: url("../img/search.svg");
        background-position: 40% 50%;
        background-repeat: no-repeat;
        color: transparent;
        border: none;
        border-radius: 4px;
        position: absolute;
        right: 10px;
        bottom: 1px;
    }

    .content .search p input[type="text"]::placeholder{
        color: #A8A8A8;
        font-family: 'CircleRegular';
        font-size: 13px;
        line-height: 15px;
        opacity: 1;
    }

    .content .search p input[type="text"]:-ms-input-placeholder,::-moz-placeholder, ::-webkit-input-placeholder, :-moz-placeholder{
        color: #A8A8A8;
        font-family: 'CircleRegular';
        font-size: 13px;
        line-height: 15px;
        opacity: 1;
    }

    .content .search p input[type="text"]::-ms-input-placeholder{
        color: #A8A8A8;
        font-family: 'CircleRegular';
        font-size: 13px;
        line-height: 15px;
        opacity: 1;
    }

    .content .page-content .slider{
        max-width: 670px;
        width: 86%;
        height: 180px;
    }

    .slider .owl-item img{
        margin-left: -102px;
        width: 112%;
        height: 180px;
    }

    .content .page-content .mobile-none{
        display: none;
    }

    .content .page-content .mobile .products-catalog{
        width: 301px;
        height: 40px;
        border: none;
        border-radius: 5px;
        background: #0B1759;
        color: #FFFFFF;
        font-family: CircleRegular;
        font-size: 15px;
        margin-top: 15px;
    }

    .content .page-content .dye-logos{
        width: 100%;
        padding: 19px 10px 0;
    }

    .content .page-content .dye-logos div{
        text-align: center;
        margin-left: -10px;
    }

    .content .page-content .dye-logos .dye-logos-item{
        width: 145px;
        margin-left: 10px;
    }

    .content .page-content .mobile .products-all{
        width: 301px;
        height: 40px;
        border: none;
        border-radius: 5px;
        background: #0B1759;
        color: #FFFFFF;
        font-family: CircleRegular;
        font-size: 15px;
    }

    .content .page-content .tablet{
        width: 100%;
        padding: 0 20px;
        position: relative;
    }

    .content .products .slider3{
        width: 100%;
    }

    .content .products .slider3 .owl-nav{
        position: absolute;
        left: 0;
        right: 20px;
        text-align: right;
    }

    .content .products .slider3 .owl-nav .owl-next{
        background-size: 30px 30px;
        width: 30px;
        height: 30px;
    }

    .content .products .slider3 .owl-nav .owl-next:hover{
        background-size: 30px 30px;
    }

    .content .products .slider3 .owl-nav .owl-prev{
        background-size: 30px 30px;
        width: 30px;
        height: 30px;
    }

    .content .products .slider3 .owl-nav .owl-prev:hover{
        background-size: 30px 30px;
    }

    .content .products .slider3 div .product-item{
        width: 300px;
        margin: 0 auto;
        padding-bottom: 50px;
        padding-top: 10px;
    }

    .content .products .slider3 div .product-item .buy{
        text-align: left;
    }

    .content .products .slider3 div .product-item .buy button{
        width: 150px;
        color: transparent;
        float: right;
    }

    .content .products .slider3 div .product-item .buy a{
        float: left;
        margin-top: 12px;
        margin-left: 0;
    }

    .content .products .slider3 div .product-item .product-size input+label{
        width: 85px;
        margin-right: 10px;
    }

    .content .products .slider3 div .product-item .item-img{
        float: left;
        width: 37%;
    }

    .content .products .slider3 div .product-item .item-specification{
        float: left;
        width: 150px;
        margin-left: 24px;
    }

    .content .products .slider3 div .product-item .item-img img{
        width: 120px;
        height: 105px;
        margin-top: 25px;
    }

    .content .products .slider3 div .product-item .item-img span{
        width: 46px;
        height: 46px;
        font-size: 12px;
        padding-top: 13px;
    }

    .content .page-content .feedback form .left h1{
        padding-right: 30px;
    }

    .content .page-content .feedback form .left p{
        margin-left: 0;
    }

    .content .page-content .feedback form .right input[type="submit"]{
        float: none;
        margin-top: 10px;
    }

    .articles{
        width: 100%;
    }

    .articles .container{
        padding-right: 20px;
    }

    .articles .left{
        padding-left: 20px;
    }

    .articles .left .mobile-none{
        display: none;
    }

    .articles .slider2{
        width: 320px;
        margin: 0 auto;
    }

    .articles .articles-item{
        width: 320px;
    }

    .articles .slider2 .owl-nav {
        right: -70px;
    }

    .articles .slider2 .owl-nav .owl-prev{
        background-size: 30px 30px;
        width: 30px;
        height: 30px;
    }

    .articles .slider2 .owl-nav .owl-prev:hover{
        background-size: 30px 30px;
    }

    .articles .slider2 .owl-nav .owl-next{
        background-size: 30px 30px;
        width: 30px;
        height: 30px;
    }

    .articles .slider2 .owl-nav .owl-next:hover{
        background-size: 30px 30px;
    }

    .articles .mobile{
        text-align: center;
    }

    .articles .mobile .articles-all{
        width: 301px;
        height: 40px;
        border: none;
        border-radius: 5px;
        background: #0B1759;
        color: #FFFFFF;
        font-family: 'CircleRegular';
        font-size: 15px;
        margin-top: 20px;
    }

    .footer-top{
        border-top: 1px solid #dedede;
        width: 100%;
        padding: 34px 20px;
    }

    .footer-top .logo{
        width: 100%;
        border-bottom: 1px solid #dedede;
        position: relative;
        padding-bottom: 20px;
    }

    .footer-top .logo .mobile{
        width: 30px;
        height: 30px;
        background: none;
        -moz-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
        -webkit-transform: rotate(90deg);
        -o-transform: rotate(90deg);
        transform: rotate(90deg);
        position: absolute;
        top: -12px;
        margin: 0;
        right: 20px;
        transition: none;
    }

    .footer-top .logo .active{
        -moz-transform: rotate(-90deg);
        -ms-transform: rotate(-90deg);
        -webkit-transform: rotate(-90deg);
        -o-transform: rotate(-90deg);
        transform: rotate(-90deg);
        top: -8px;
        right: 22px;
    }

    .footer-top .logo .mobile img{
        width: 30px;
        height: 30px;
    }

    .footer-top .logo .call{
        position: absolute;
        bottom: -132px;
        left:20px;
    }

    .footer-top .logo ul{
        display: none;
    }

    .footer-top .logo .open{
        display: block;
    }

    .footer-top .continue .link{
        -moz-column-count: 1;
        -webkit-column-count: 1;
        column-count: 1;
    }

    .footer-top .continue .link:last-child{
        position: absolute;
        top: -332px;
        padding: 0;
        width: 94%;
    }

    .footer-top .contacts{
        column-count: 2;
        -moz-column-count: 2;
        -webkit-column-count: 2;
        width: 100%;
        padding: 182px 20px 0;
        position: relative;
    }

    .footer-top .continue{
        width: 100%;
        margin-left: 0;
        padding: 20px;
    }

    .footer-top .contacts .yandex{
        top: 126%;
        left: 20px;
        right: 0;
    }

    footer{
        background: none;
        color: #a8a8a8;
    }

    footer .footer-text a{
        color: #A8A8A8;
    }

    footer .footer-text .text-right{
        text-align: left;
        margin-top: 0;
    }
}

@media (max-width: 422px) {
    body{
        font-size: 13px;
        line-height: 15px;
        max-width: 422px;
    }

    header .settings{
        padding-top: 9px;
        padding-bottom: 6px;
    }

    header .settings .logo{
        margin-left: 20px;
        margin-top: 5px;
    }

    header .settings .list{
        padding-right: 0;
    }

    header .settings .list ul{
        text-align: left;
    }

    header .settings .list ul li{
        margin-right: 12px;
    }

    header .settings .list ul li:last-child{
        margin-right: 0;
    }

    .content {
        padding-top: 15px;
    }

    .content .page-content {
        margin-top: 11px;
    }

    .content .page-content .slider {
        height: 130px;
        width: 88%;
    }

    .slider .owl-item img {
        margin-left: -129px;
        width: 147%;
        height: 130px;
    }

    .content .page-content .slider .owl-dots {
        margin-top: 6px;
    }

    .content .page-content .dye-logos {
        padding: 13px 10px 0;
    }

    .content .page-content .dye-logos div {
        margin-left: -7px;
    }

    .content .page-content .dye-logos .dye-logos-item {
        margin-left: 7px;
        margin-bottom: 10px;
        padding-top: 13px;
        padding-bottom: 14px;
    }

    .content .page-content .dye-logos .dye-logos-item .title {
        padding-top: 0;
        line-height: 15px;
        font-size: 13px;
    }

    .content .page-content .dye-logos .close{
        display: none;
    }

    .content .page-content .dye-logos .open{
        display: inline-block;
    }

    .content .page-content .mobile .products-all{
        margin-top: 10px;
        width: 205px;
    }

    .content .products h1{
        font-size: 24px;
        padding-bottom: 2px;
    }

    .content .products .slider3 .owl-nav{
        top: -42px;
        right: 0px;
    }

    .content .products .slider3 .owl-nav .owl-prev{
        margin-right: 10px;
    }

    .content .products .slider3 div .product-item{
        padding-top: 20px;
    }

    .content .products .slider3 div .product-item .item-specification .text {
        padding-top: 0;
    }

    .content .products .slider3 div .product-item .item-img .after {
        top: 10px;
        right: 9px;
    }

    .content .products .slider3 div .product-item{
        padding-left: 12px;
    }

    .content .products .slider3 div .product-item .item-img img {
        width: 114px;
        height: 90px;
        margin-top: 28px;
    }

    .content .products .slider3 div .product-item .price p{
        line-height: 28px;
        margin-left: -3px;
    }

    .content .products .slider3 div .product-item .price .crossed-price{
        line-height: 30px;
    }

    .content .products .slider3 div .product-item .product-size input+label{
        font-size: 13px;
        font-family: 'CircleRegular';
        padding: 9px;
        margin-right: 9px;
    }

    .content .products .slider3 div .product-item .product-size{
        margin-top: 1px;
        padding-bottom: 15px;
    }

    .content .products .slider3 div .product-item .buy a{
        font-size: 13px;
        margin-left: 4px;
    }

    .content .products .slider3 div .product-item .buy button img {
        left: 62px;
    }

    .content .page-content .feedback form{
        padding-left: 16px;
        height: 296px;
        margin-top: 10px;
        padding-top: 0;
    }

    .content .page-content .feedback form .left h1{
        font-size: 24px;
    }

    .content .page-content .feedback form .left p{
        font-size: 12px;
        padding-top: 0;
        line-height: 14px;
        margin-top: -4px;
    }

    .content .page-content .feedback form .right{
        position: relative;
    }

    .content .page-content .feedback form .right input[type="text"] {
        width: 280px;
        height: 40px;
        margin-bottom: 6px;
        margin-top: 4px;
    }

    .content .page-content .feedback form .right p{
        font-size: 12px;
        margin-top: 68px;
        line-height: 14px;
        padding-right: 85px;
    }

    .content .page-content .feedback form .right input[type="submit"]{
        position: absolute;
        width: 280px;
        height: 40px;
        bottom: 45px;
    }

    .articles{
        padding: 35px 10px 20px;
    }

    .articles .left{
        padding: 0 0 17px;
    }

    .articles .left h2{
        font-size: 24px;
    }

    .articles .slider2 {
        width: 300px;
    }

    .articles .slider2 .owl-nav {
        right: 5px;
        top: -50px;
    }

    .articles .slider2 .owl-nav .owl-prev{
        margin-right: 10px;
    }

    .articles .articles-item .article-text h2{
        font-size: 16px;
        font-family: 'CircleRegular';
    }

    .articles .articles-item .article-text p{
        font-size: 12px;
        line-height: 18px;
        padding-top: 0;
        height: 55px;
    }

    .articles .articles-item .article-text a{
        font-size: 12px;
    }

    .articles .articles-item .article-text{
        padding: 6px 68px 20px 19px;
    }

    .articles .articles-item .image img{
        height: 150px;
        margin-left: -52px;
        width: 126%;
    }

    .articles .articles-item{
        height: 280px;
    }

    .articles .mobile .articles-all{
        width: 205px;
    }

    .footer-top {
        padding-top: 19px;
    }

    .footer-top .logo {
        padding-left: 10px;
        padding-bottom: 12px;
    }

    .footer-top .logo img {
        width: 141px;
        height: 30px;
    }

    .footer-top .logo .mobile{
        top:-3px;
        right: 9px;
    }

    .footer-top .logo .active{
        top: 1px;
        right: 11px;
    }

    .footer-top .logo .open{
        padding-top: 7px;
    }

    .footer-top .logo ul li {
        font-size: 12px;
        line-height: 25px;
    }

    .footer-top .logo .call{
        width: 300px;
        height: 40px;
        bottom: -120px;
        font-size: 12px;
        left: 10px;
    }

    .footer-top .contacts{
        padding: 144px 10px 0;
    }

    .footer-top .contacts h4{
        font-size: 12px;
    }

    .footer-top .contacts p{
        font-size: 12px;
        line-height: 14px;
        padding-bottom: 18px;
    }

    .footer-top .contacts .email{
        position: absolute;
        top: 145px;
    }

    .footer-top .continue{
        padding: 0 10px;
        margin-top: -6px;
    }

    .footer-top .continue h4{
        padding-bottom: 4px;
        line-height: 17px;
    }

    .footer-top .continue .link{
        padding-top: 3px;
    }

    .footer-top .continue .link:last-child{
        padding-top: 41px;
        width: 300px;
        text-align: center;
    }

    .footer-top .contacts .tel{
        padding-top: 50px;
    }

    .footer-top .contacts .telephone {
        line-height: 21px;
    }

    .footer-top .footer-menu .link li{
        margin-right: 17px;
    }

    .footer-top .contacts .yandex{
        top: 137%;
        left: 10px;
        right: 0;
    }

    .footer-top .contacts .yandex h4{
        font-size: 13px;
    }

    footer{
        padding-top: 51px;
        padding-left: 10px;
        padding-bottom: 20px;
    }

    footer .footer-text {
        padding-left: 10px;
    }

    footer .footer-text .text-right {
        padding-top: 18px;
    }


}