.top-menu {
  display: none;
}
.menu-responsive{
  display: inline-block;
}

.slicknav_menu {
  background: transparent;
  position: relative;
  padding: 2px 0 10px 0;
  text-align: center;
}

.slicknav_menu .slicknav_menutxt {
  font-weight: 400;
  text-shadow: none;
  font-size: 13px;
  color: #fff;
  letter-spacing: 1px; }

.slicknav_btn {
  background-color: transparent;
  margin: auto;
  padding: 7px 0 0 17px;
  float: none;
  display: inline-block; }
.slicknav_btn:after {
  content: "";
  clear: both;
  display: table; }

.slicknav_menu .slicknav_icon-bar {
  width: 12px;
  height: 1px;
  background: #fff;
  float: right;
  position: absolute;
  top: 14px;
  margin-top: 2px;
  margin-left: 4px;
}

.slicknav_btn .slicknav_icon-bar + .slicknav_icon-bar {
  margin-top: 6px;
  -webkit-box-shadow: none;
  box-shadow: none;
  &:last-of-type{
    margin-top: 10px;
  }
}

.slicknav_menu .slicknav_icon {
  margin: 3px 0 0 0;
  width: 16px;
}

.slicknav_nav {
  padding: 9px 4px 10px 6px;
  top: 44px;
  left: -205px;
  position: absolute;
  width: 300px;
  border-radius: 3px;
  overflow: visible;
  z-index: 100;
  box-shadow: 0 6px 10px rgba(0,0,0,.05);
  background-color: #fff;
  &:before{
    content: url("../img/up.png");
    top: -10px;
    right: 51px;
    position: absolute;
  }
}

.menu-bg {
  background-color: #1f2427 !important; }

.menu-active .slicknav_icon-bar:nth-child(2) {
  background-color: #1f2427; }
.menu-active .slicknav_icon-bar:last-child {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  position: relative;
  top: -4px; }
.menu-active .slicknav_icon-bar:first-child {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  position: relative;
  top: 4px; }

.slicknav_nav li {
  background-color: #fff;
  padding: 3px 16px 6px;
  border-bottom: 1px solid #EFEFEF;
  position: relative;
  margin: 2px 20px; }

.slicknav_nav .slicknav_row, .slicknav_nav a {
  padding: 5px 10px;
  margin: 0; }

.slicknav_nav a {
  text-align: center;
  font-size: 12px;
  text-transform: uppercase;
  display: inline-block;
  color: #242628;
  padding: 5px 0 0;
  font-family: 'OpenSansSemibold', sans-serif;
  letter-spacing: 2.4px;
}

.slicknav_nav li:first-child {
  border-top: 1px solid rgba(255, 255, 255, 0.1); }

.slicknav_nav li:last-child {
  border-bottom: none; }

.slicknav_nav a{
  text-decoration: none;
  &:hover{
    color: #CE0B24;
    background: transparent;
    &:after{
      position: absolute;
      left: 42%;
      text-align: center;
      height: 1px;
      width: 42px;
      background: #ce0b24;
      content: '';
      bottom: -1px;
    }
  }
}

.slicknav_nav li.active a {
  color: #CE0B24;
  position: relative;
  &:after{
    position: absolute;
    bottom: -7px;
    left: 0;
    right: 0;
    height: 1px;
    background: #CE0B24;
    content: '';
  }
}