//base
$red: #CE0B24;
$border-dark: #2F3337;

html{
  overflow-x: hidden;
}

*, :after, :before, :hover {
  box-sizing: border-box;
}
*{
  outline:none;
  -moz-transition: all .4s ease;
  -webkit-transition: all .4s ease;
  -o-transition: all .4s ease;
  -ms-transition: all .4s ease;
  transition: all .4s ease;
}
body{
  overflow-x: hidden;
  position: relative;
  font-family: 'OpenSans', sans-serif;
  font-size: 14px;
  line-height: 23px;
  min-width: 320px;
  background: #242628;
  max-width: 2000px;
  margin:0 auto !important;
  color: #ffffff;
}
a{
  text-decoration: none;
  color: #FFFFFF;
  cursor: pointer;
}
//

header {
  margin: 30px 0;
  background: url("../img/header-bg.png"), no-repeat;
  background-size: cover;
  background-position: 50%;
  .header-content{
    padding: 0 18px 0 0;
  }
  .top-line {
    padding-top: 14px;
    .logo{
      padding-left: 15px;
    }
    .top-right {
      text-align: right;
      div {
        display: inline-block;
      }
      .text {
        margin-top: 8px;
        p {
          font-family: DomineRegular,sans-serif;
          font-size: 22px;
          letter-spacing: .8px;
          padding-top: 2px;
        }
        .bold {
          font-family: 'DomineRegular', sans-serif;
          font-weight: 700;
          color: #E92F47;
          font-size: 9px;
          text-transform: uppercase;
          letter-spacing: 3.3px;
          margin-top: -6px;
        }
      }
      .number {
        font-family: OpenSansLight,sans-serif;
        font-size: 30px;
        line-height: 41px;
        margin: -24px 2px 0 8px;
        vertical-align: middle;
      }
    }
  }
  .top-menu {
    display: block;
  }
  #menu-responsive{
    display: none;
  }

  .top-menu {
    border-bottom: 1px solid rgba(196, 196, 196, 0.2);
    padding: 0;
    text-align: right;
    position: relative;
    z-index: 5;
    margin-top: -11px;
    ul {
      text-align: right;
      width: 100%;
      margin: 0;
    }
    li {
      display: inline-block;
      padding: 0 0 12px 36px;
      a {
        font-size: 12px;
        font-weight: 400;
        line-height: 16px;
        font-family: 'OpenSansSemibold', sans-serif;
        letter-spacing: 2.3px;
        text-transform: uppercase;
        color: #D2D7E4;
        position: relative;
        text-decoration: none;
        padding-bottom: 15px;
      }
    }
    li:hover a {
      color: #FFFFFF;
      border-bottom: 1px solid $red;
    }
    li:last-child {
      margin-right: 0;
    }
    li.active {
      a {
        color: #fff;
        &:after {
          position: absolute;
          content: '';
          bottom: -17px;
          left: 0;
          width: 100%;
          height: 1px;
          background: #E92F47;
        }
      }
    }
  }
  .content-left {
    margin-top: 60px;
    h1 {
      font-family: 'DomineRegular', sans-serif;
      font-size: 40px;
      line-height: 50px;
      letter-spacing: -0.1px;
    }
    p {
      font-family: 'OpenSansRegular', sans-serif;
      font-size: 14px;
      line-height: 24px;
      margin: -16px 68px 18px 0;
    }
    .btn-default {
      color: #fff;
      font-family: 'DomineRegular',sans-serif;
      font-size: 12px;
      letter-spacing: 2.4px;
      line-height: 14px;
      text-transform: uppercase;
      display: inline-block;
      text-align: center;
      vertical-align: top;
      margin: 6px 0;
      border-radius: 3px;
      background-color: #ce0b24;
      padding: 21px 101px;
      &:hover, &:active, &:focus {
        background-color: #AF0A1F;
      }
    }
    .header-rating {
      margin-top: 31px;
      margin-left: -4px;
      p {
        font-family: Domine,sans-serif;
        font-size: 10px;
        font-weight: 400;
        letter-spacing: 2.4px;
        line-height: 16px;
        text-transform: uppercase;
        position: relative;
        color: #fff;
        margin-bottom: 13px;
        margin-left: 100px;
        &:before, &:after {
          position: absolute;
          top: 7px;
          right: 40px;
          content: '';
          width: 16%;
          height: 1px;
          background: rgba(255,255,255,.3);
        }
        &:before {
          right: inherit;
          left: -94px;
        }
      }
      a{
        padding-right: 2px;
      }
    }
  }
    .content-right {
      img{
        position: relative;
        right: 97px;
        bottom: -4px;
        vertical-align: text-bottom;
      }
    }
}

.practice-areas{
  .practice-wrap{
    padding-top: 26px;
    padding-bottom: 93px;
    border-bottom: 1px solid $border-dark;
    .left{
      margin-top: 30px;
      h2{
        font-family: DomineRegular,sans-serif;
        font-size: 36px;
        line-height: 57px;
        margin-bottom: 8px;
      }
      p{
        font-family: OpenSansRegular,sans-serif;
        font-size: 14px;
        line-height: 24px;
        color: #d4d8de;
        padding-right: 16px;
      }
    }
    .right{
      padding-left: 9px;
      .item{
        text-align: center;
        display: inline-block;
        min-width: 170px;
        a:hover p{
          color: $red;
        }
        p{
          font-family: OpenSansSemibold,sans-serif;
          font-size: 12px;
          font-weight: 700;
          letter-spacing: 1.2px;
          line-height: 24px;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-pack: center;
          -ms-flex-pack: center;
          justify-content: center;
          -webkit-box-align: center;
          -ms-flex-align: center;
          align-items: center;
          padding-left: 20px;
          text-align: center;
          color: #e0e0e0;
          text-transform: uppercase;
        }
        .icon{
          display: flex;
          -webkit-box-pack: center;
          -ms-flex-pack: center;
          justify-content: center;
          -webkit-box-align: end;
          -ms-flex-align: end;
          align-items: flex-end;
          width: 100%;
          height: 92px;
          margin-bottom: 4px;
        }
      }
      .top{
        .icon{
          margin-bottom: 14px;
        }
      }
    }
  }
}

.about{
  padding: 89px 0px;
  border-bottom: 1px solid $border-dark;
  .photo{
    .partners{
      margin-left: -20px;
      filter: drop-shadow(10px 10px 0 #2a2c2d);
    }
  }
  .bottom{
    margin-top: 6px;
    span{
      font-family: DomineRegular,sans-serif;
      font-size: 12px;
      line-height: 14px;
      letter-spacing: 2.4px;
      color: #f4f5f7;
      text-transform: uppercase;
      position: relative;
      padding-left: 22px;
      &:before{
        position: absolute;
        top: 5px;
        left: 0;
        content: '';
        width: 13px;
        background: $red;
        height: 2px;
        padding-left: 13px;
      }
    }
    img{
      vertical-align: middle;
      padding-left: 15px;
      padding-right: 6px;
    }
  }
  .text{
    text-align: left;
    padding-left: 16px;
    h2{
      font-family: 'DomineRegular', sans-serif;
      font-size: 36px;
      line-height: 46px;
      padding: 4px 0 10px 0;
    }
    .bold{
      font-family: 'OpenSansSemibold', sans-serif;
      font-size: 12px;
      line-height: 24px;
      letter-spacing: 2.4px;
      color:$red;
      text-transform: uppercase;
      padding-bottom: 14px;
    }
    p{
      font-family: OpenSansRegular,sans-serif;
      font-size: 14px;
      line-height: 24px;
      color: #d4d8de;
      margin-right: 20px;
      padding-bottom: 14px;
      margin-top: 1px;
    }
    a{
      font-family: 'OpenSansBold', sans-serif;
      font-size: 10px;
      line-height: 20px;
      letter-spacing: 2px;
      color: $red;
      text-transform: uppercase;
      &:hover{
        text-decoration: underline;
      }
    }
  }
}

.courts{
  .list{
    padding: 91px 0 63px 0;;
    border-bottom: 1px solid $border-dark;
    .more{
      display: none;
    }
    h2{
      font-family: 'DomineRegular', sans-serif;
      font-size: 36px;
      line-height: 46px;
      text-align: center;
      padding-bottom: 24px;
      margin-left: -18px;
    }
    ul{
      -moz-column-count: 3;
      -webkit-column-count: 3;
      column-count: 3;
      margin:18px 0 14px -3px;
      display: block;
      list-style-type: disc;
      li{
        position: relative;
        color:$red;
        margin: 0 0 17px 20px;
        a{
          color: #ffffff;
          font-size: 12px;
          line-height: 20px;
          text-transform: uppercase;
          font-family: 'OpenSansSemibold',sans-serif;
          text-align: left;
          letter-spacing: 1.2px;
          &:hover{
            color: $red;
          }
        }
      }
    }
  }
}

.blog-wrap{
  .blog{
    padding: 74px 0 99px;
    border-bottom: 1px solid $border-dark;
    h6{
      font-family: 'OpenSansSemibold', sans-serif;
      font-size: 12px;
      line-height: 24px;
      letter-spacing: 2.4px;
      text-align: left;
      text-transform: uppercase;
    }
    .visit{
      text-align: right;
      padding-right: 16px;
      a{
        font-family: 'OpenSansBold', sans-serif;
        font-size: 10px;
        text-transform: uppercase;
        line-height: 20px;
        letter-spacing: 2px;
        color: $red;
        &:hover{
          text-decoration: underline;
        }
      }
    }
    .content{
      margin-top: 15px;
      .item-news{
        padding-left: 16px;
        a{
          color: #d4d8de;
          display: block;
          font-size: 14px;
          line-height: 24px;
          padding-bottom: 10px;
          margin-right: 8px;
          margin-left: 6px;
          margin-bottom: 13px;
          border-bottom: 1px solid $border-dark;
          font-family: OpenSansBold,sans-serif;
          padding-right: 20px;
          &:hover{
            color: $red;
          }
          &:last-child{
            border-bottom: none;
          }
        }
      }
      .item{
        width: 270px;
        height: 426px;
        background: #fff;
        margin: 7px 9px 0 21px;
        .img{
          height: 170px;
          width: 270px;
          margin-left: -20px;
          img{
            object-fit: cover;
          }
        }
        h6{
          padding-top: 24px;
          padding-right: 18px;
          line-height: 23px;
          a{
            font-family: OpenSansBold,sans-serif;
            letter-spacing: 0px;
            color: #2A333F;
            font-size: 14px;
            line-height: 24px;
            text-transform: none;
            &:hover{
              color: $red;
              text-decoration: none;
            }
          }
        }
        p{
          font-size: 14px;
          line-height: 23px;
          letter-spacing: -0.2px;
          color: #646f7a;
          padding-right: 20px;
          font-family: 'OpenSansSemibold',sans-serif;
          margin: 22px 0 18px;
        }
        a{
          font-family: 'OpenSansBold', sans-serif;
          font-size: 10px;
          text-transform: uppercase;
          line-height: 20px;
          letter-spacing: 2px;
          color: $red;
          &:hover{
            text-decoration: underline;
          }
        }
      }
    }
  }
}

.testimonials{
  padding: 98px 0 81px 24px;
  border-bottom: 1px solid $border-dark;
  .left{
    width: 292px;
    display: inline-block;
    vertical-align: top;
    .avvo{
      padding: 20px 28px 16px;
      background: #25292d;
      border-radius: 3px;
      margin-bottom: 20px;
      width: 200px;
      p{
        color: #ffffff;
        font-size: 14px;
        font-weight: 700;
        line-height: 23px;
        margin-bottom: 7px;
        letter-spacing: 0.4px;
      }
      img{
        position: relative;
        top: 2px;
      }
      a{
        display: block;
        color: $red;
        font-size: 12px;
        line-height: 23px;
        position: relative;
        letter-spacing: 0.1px;
        font-family: 'OpenSansSemibold', sans-serif;
        &:hover, &:active, &:focus{
          text-decoration: underline;
        }
      }
    }
    .avvo-link{
      padding: 13px 31px;
      font-size: 12px;
      line-height: 20px;
    }
  }
}
h3{
  color: #ffffff;
  font-family: 'DomineRegular', sans-serif;
  font-size: 30px;
  font-weight: 400;
  line-height: 35px;
  margin-bottom: 24px;
}
.testimonials-content{
  width: calc(100% - 297px);
  display: inline-block;
  .item{
    width: 270px;
    display: inline-block;
    margin-right: 27px;
    vertical-align: top;
    padding: 12px 0;
    h6{
      margin-bottom: 23px;
      font-family: 'OpenSansBold', sans-serif;
    }
    p{
      color: #D4D8DE;
      font-size: 14px;
      font-weight: 400;
      line-height: 24px;
      margin-bottom: 15px;
      font-family: 'OpenSansRegular', sans-serif;
    }
    .stars{
      margin-bottom: 13px;
      img{
        margin-right: 2px;
      }
    }
    .bottom{
      p{
        color: #ffffff;
        font-size: 14px;
        font-weight: 400;
        line-height: 20px;
        margin-bottom: 3px;
        b{
          font-weight: 700;
        }
      }
      a{
        font-weight: 700;
        line-height: 20px;
        margin-bottom: 10px;
        &:hover, &:active, &:focus{
          text-decoration: underline;
        }
      }
    }
  }
  .item:last-child{
    margin-right: 0;
  }
}

.contact{
  padding: 72px 0 60px;
  text-align: center;
  border-bottom: 1px solid $border-dark;
  h2{
    font-family: DomineRegular,sans-serif;
    font-size: 36px;
    line-height: 46px;
    color: #fff;
    margin-bottom: 10px;
    margin-top: 22px;
    margin-left: 6px;
  }
  &>p{
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    margin: 0 auto 34px;
    width: 60%;
    font-family: 'OpenSansRegular',sans-serif;
    color: #d4d8de;
  }
  .content{
    padding: 14px 0 1px;
    .item{
      width: 270px;
      background-color: #fff;
      text-align: left;
      margin-right: 25px;
      display: inline-block;
      padding: 32px 6px 35px 36px;
      position: relative;
      vertical-align: top;
      top: 0;
      bottom: 0;
      margin-bottom: 30px;
      &:hover{
        position: relative;
        top: -15px;
        padding: 25px 5px 40px 30px;
        -webkit-box-shadow: 0 4px 20px rgba(55, 56, 60, 0.05);
        box-shadow: 0 4px 20px rgba(55, 56, 60, 0.05);
        margin-bottom: 0;
      }
      &:first-child{
        position: relative;
        top: -15px;
        box-shadow: 0 4px 20px rgba(55, 56, 60, 0.05);
        margin-bottom: 0;
        border-bottom: 3px solid $red;
        &:hover{
          position: relative;
          top: -40px;
          padding: 30px 26px 40px 32px;
          -webkit-box-shadow: 0 4px 20px rgba(55, 56, 60, 0.05);
          box-shadow: 0 4px 20px rgba(55, 56, 60, 0.05);
          margin-bottom: 0;
        }
      }
      h6{
        font-size: 14px;
        font-weight: 700;
        text-transform: uppercase;
        color: #2a333f;
        letter-spacing: 0.2px;
        margin-bottom: 26px;
        font-family: 'OpenSansBold', sans-serif;
      }
      p{
        color: #646f7a;
        font-size: 14px;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0.8px;
        width: 205px;
        font-family: 'OpenSansRegular',sans-serif;
      }
      a{
        margin: 22px 0 -1px;
        display: block;
        color: $red;
        font-size: 10px;
        font-weight: 700;
        letter-spacing: 2px;
        text-transform: uppercase;
        font-family: OpenSansBold,sans-serif;
        &:hover, &:active, &:focus{
          text-decoration: underline;
        }
      }
    }
    .item:last-child{
      margin-right: 0;
    }
  }
  .bottom{
    a{
      font-size: 12px;
      margin-left: 6px;
      letter-spacing: 2.4px;
      line-height: 24px;
      display: block;
      text-transform: uppercase;
      font-family: OpenSansSemibold,sans-serif;
      text-align: center;
    }
    .button{
      margin-top: 32px;
      margin-left: 16px;
      .btn-default {
        color: #fff;
        font-family: DomineBold,sans-serif;
        font-size: 12px;
        letter-spacing: 2.4px;
        line-height: 14px;
        text-transform: uppercase;
        display: inline-block;
        text-align: center;
        vertical-align: top;
        border-radius: 3px;
        background-color: $red;
        padding: 21px 52px;
        min-width: 370px;
        &:hover, &:active, &:focus {
          background-color: #AF0A1F;
        }
      }
    }

  }
}

#map{
  width: 760px;
  height: 400px;
}
.fancybox-slide>*{
  padding: 0;
}
.fancybox-close-small{
  display: none;
}

.footer{
  text-align: center;
  padding: 54px 0 0 8px;
  margin-bottom: 60px;
  p{
    font-family: 'OpenSansRegular', sans-serif;
    font-size: 14px;
    line-height: 23px;
    span{
      opacity: 0.2;
      padding-right: 4px;
    }
    a{
      padding: 10px 2px 0 0;
    }
  }
  .link-white{
    margin-top: 29px;
    margin-left: 5px;
    li{
      display: inline-block;
      a{
        background: #FFFFFF;
        padding: 5px 10px;
        border-radius: 26px;
        margin-right: 11px;
        &:hover{
          background: #CE0B24;
        }
        &:hover i{
          color:#FFFFFF;
        }
        i{
          font-size: 12px;
          color: #000;
        }
      }
      .twitter{
        padding: 5px 7px;
      }
      .google{
        padding: 5px 6px;
      }
      .linkedin{
        padding: 5px 8px;
      }
    }
  }
}

