doctype html
head
  title Workout
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1')
  link(rel='stylesheet' href='src/owl/owl.carousel.min.css')
  link(rel='stylesheet' href='src/owl/owl.theme.default.min.css')
  link(href='css/main.min.css' rel='stylesheet' type='text/css')
header
  .counting
    .container
      .row
        .col-md-12
          p 10 дней :10 :10 :10
  .subscription
    a(name='top')
    .container
      .row
        .col-md-12.logo
          img(src='img/logo.png')
      .row
        .col-md-12
          .form
            h2 участвуй в конкурсе и выиграй
            h1 абонемент лето
            p В Smart Trainer Studio
            p сумма приза 9900 руб
            form
              input(type='text' placeholder='имя')
              input(type='email' placeholder='e-mail')
              input(type='number' placeholder='тел.')
              button участвовать
              label.container
                | Галочка
                input(type='checkbox')
                span.checkmark
      .row
        .col-md-12.block-circle
          .circle
            p Для всех участников -
            br
            p
              | 1 пробная
              br
              |  аутдор тренировка.
.content
  .advantages
    .container
      .row
        .col-md-12
          h2 преимущества тренировок на свежем воздухе
          h2.xs
            | Почему тренировки на свежем воздухе эффективнее чем в зале?
          p.line
      .row
        .col-md-8
          ul
            li
              | Во время занятий на свежем воздухе организм насыщается кислородом. Во время занятий на свежем воздухе организм насыщается кислородом. Это способствует ускорению обмена веществ и улучшению самочувствия.Это способствует ускорению обмена веществ и улучшению самочувствия.
            li
              | Тренировки на природе помогают обрести душевную гармонию и заряжают позитивной энергией.
            li
              | Совмещение физических упражнений с солнечными ваннами насыщает организм витамином D.
            li
              | В теплое время года организм охотнее расстается с лишними килограммами и похудение проходит легче.
        .col-md-4.sport-img
          img(src='img/sport-1.png')
  .types-of-training
    .container
      .row
        .col-md-6
          .owl-carousel.slider
            .slide
              img(src='img/sport-2.png')
            .slide
              img(src='img/skandinavian-walking.png')
            .slide
              img(src='img/bike-ride.png')
            .slide
              img(src='img/running-school.png')
            .slide
              img(src='img/swimming2.png')
            .slide
              img(src='img/yoga.png' data-hash='slideID' data-src='img/yoga.png')
        .col-md-6.list
          h2 тренировки на свежем воздухе
          ul
            li Функциональные тренировки
            li Скандинавская ходьба
            li Велопробеги
            li Школа бега
            li Плавание
            li Йога
          a(href='#top') участвовать
  .about-us
    .container
      .row
        .col-md-12.header
          h2 смарт трейнинг студио – это:
      .row
        .col-md-4.col-sm-4
          img(src='img/about-us1.png')
          h3 комфорт
          p
            | В студии царит домашняя атмосфера. Пушистые полотенца, уютные халаты, а также косметика L’occitane в душевых, которая пленит каждую представительницу прекрасного пола
        .col-md-4.col-sm-4
          img(src='img/about-us2.png')
          h3 европейский дизайн
          p
            | Дизайн студии был разработан для вашего удобства и комфорта. Никогда еще интерьер фитнес-студии не был таким домашним и европейским. Просто почувствуй разницу!
        .col-md-4.col-sm-4
          img(src='img/about-us3.png')
          h3 мастера своего дела
          p
            | С Вами будут работать исключительно профессионалы. Тренеры, которые помогу осуществить любую Вашу цель. Вам обеспечен индивидуальный подход даже на групповых занятиях.
  .specialists
    .container
      .row
        .col-md-12.header
          h2 наши специалисты
          p.line
          p У нас более 15 профессиональных тренеров
      .row
        .col-md-4.col-sm-4
          img(src='img/master1.png')
          p.name Данил
          p
            |Образование:высшее, ЮФУ инженер-физик. Специализация: функциональные тренировки, crossFit, стрейчинг. Тренерский стаж с 2009 года.
        .col-md-4.col-sm-4
          img(src='img/master2.png')
          p.name Владимир
          p
            | КМС по баскетболу и ЛА, двукратный чемпион Юга России. Специализация: интервальные и скоростно-силовые тренировки, работа с набором и сбросом веса, коррекция осанки, диетология, подготовка проф. спортсменов к сезону и соревнованиям, построение тренировочного цикла, работа с травмами ОДА. Тренерский стаж с 2010 года.
        .col-md-4.col-sm-4
          img(src='img/master3.png')
          p.name Людмила
          p
            | Сертифицированный тренер Polestar Pilates GATEWAY MAT 1, 2. Pilates с большим и малым оборудованием, МФР, кинезиотейпирование, тренировки для беременных, постреабилитация. Тренерский стаж с 2003 года.
  .reviews
    .container
      .row
        .col-md-12.stars
          img(src='img/stars.png')
      .row
        .col-md-12.testimonial
          img(src='img/reviews.png')
footer
  .map
  .reminder
    .container
      .row
        .col-md-12
          p не упусти шанс, выиграй
      .row
        .col-md-12
          a(href='#top') участвовать
  .year
    .container
      .row
        .col-md-12
          p &copy 2018
script(src='src/jquery/jquery.min.js')
script(src='src/owl/owl.carousel.min.js')
script(src='js/script.min.js')
